<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         name="%productName"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="%productName">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="aboutImage"
               value="icons/about.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="icons/rodin16.gif,icons/rodin32.gif,icons/rodin48.gif,icons/rodin64.gif,icons/rodin128.gif"/>
         <property
               name="appName"
               value="%productName"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupMessageRect"
               value="7,177,445,20"/>
         <property
               name="startupProgressRect"
               value="5,200,445,15"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.rodinp.platform.intro">
      </intro>
      <introProductBinding
            introId="org.rodinp.platform.intro"
            productId="org.rodinp.platform.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.rodinp.platform.introConfigId"
            introId="org.rodinp.platform.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard id="org.eventb.ui.wizards.NewProject"/>
      <primaryWizard id="org.eventb.ui.wizards.NewComponent"/>
   </extension>

</plugin>
