<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         name="%productName"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="%productName">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="aboutImage"
               value="icons/about.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="icons/rodin16.gif,icons/rodin32.gif"/>
         <property
               name="appName"
               value="%productName">
         </property>
      </product>
   </extension>
   <extension
         id="org.rodinp.platform.intro"
         name="%introName"
         point="org.eclipse.ui.intro">
      <intro
            class="org.rodinp.internal.platform.RodinIntroPart"
            icon="icons/rodin16.gif"
            id="org.rodinp.platform.welcome"/>
      <introProductBinding
            introId="org.rodinp.platform.welcome"
            productId="org.rodinp.platform.product"/>
   </extension>

</plugin>
