<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="translators" name="EventB Keyboard Translators" schema="schema/translators.exsd"/>
   <extension
         point="org.eventb.eventBKeyboard.translators">
      <translator
      	class="org.eventb.eventBKeyboard.internal.translators.EventBKeyboardTextTranslator">
      </translator>
      <translator
      	class="org.eventb.eventBKeyboard.internal.translators.EventBKeyboardMathTranslator">
      </translator>
      <translator class="org.eventb.eventBKeyboard.internal.translators.EventBStyledTextTextTranslator"/>
      <translator class="org.eventb.eventBKeyboard.internal.translators.EventBStyledTextMathTranslator"/>
   </extension>
</plugin>
