<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.internal.pp.PPReasoner"
            id="pp"
            name="%reasonerName"/>
   </extension>
 <extension
       point="org.eventb.core.seqprover.autoTactics">
    <autoTactic
          class="org.eventb.internal.pp.AutoTactics$PPrestricted"
          id="ppRestricted"
          name="%ppRestrictedName">
    </autoTactic>
    <autoTactic
          class="org.eventb.internal.pp.AutoTactics$PPunrestricted"
          id="ppUnrestricted"
          name="%ppUnrestrictedName">
    </autoTactic>
    <autoTactic
          class="org.eventb.internal.pp.AutoTactics$PPlasoo"
          id="ppLasoo"
          name="%ppLasooName">
    </autoTactic>
 </extension>
 <extension
       point="org.eventb.core.pomTactics">
    <tactic
          id="org.eventb.pp.ppRestricted">
    </tactic>
    <tactic
          id="org.eventb.pp.ppLasoo">
    </tactic>
    <tactic
          id="org.eventb.pp.ppUnrestricted">
    </tactic>
 </extension>
 <extension
       point="org.eventb.core.postTactics">
    <tactic
          id="org.eventb.pp.ppRestricted">
    </tactic>
    <tactic
          id="org.eventb.pp.ppLasoo">
    </tactic>
    <tactic
          id="org.eventb.pp.ppUnrestricted">
    </tactic>
 </extension>
 <extension
       point="org.eventb.core.seqprover.tacticParameterizers">
    <parameterizer
          class="org.eventb.internal.pp.AutoTactics$PPParameterizer"
          description="%ppParamDescription"
          id="ppParam"
          name="%ppParamName">
       <tacticParameter
             default="2000"
             description="%timeoutDesc"
             label="timeout"
             type="Long">
       </tacticParameter>
       <tacticParameter
             default="false"
             description="%restrictedDesc"
             label="restricted"
             type="Boolean">
       </tacticParameter>
       <tacticParameter
             default="3000"
             description="%maxStepsDesc"
             label="maxSteps"
             type="Integer">
       </tacticParameter>
    </parameterizer>
 </extension>

</plugin>
