<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocGuide.xml">
      </toc>
      <toc
            file="tocReference.xml">
      </toc>
      <toc
            file="tocSamples.xml">
      </toc>
      <toc
            file="tocQuestions.xml">
      </toc>
      <toc
            file="tocCore.xml">
      </toc>
      <toc
            file="tocUI.xml">
      </toc>
      <toc
            file="tocEventBTactics.xml">
      </toc>
   </extension>

</plugin>
