<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="LaTeX"
         name="LaTeX-style keyboard combinations"
         point="org.rodinp.keyboard.symbols">
      <symbol
            combo="\nat"
            id="NAT"
            name="%NATName"
            translation="ℕ">
      </symbol>
      <symbol
            combo="\natn"
            id="NAT1"
            name="%NAT1Name"
            translation="ℕ1">
      </symbol>
      <symbol
            combo="\intg"
            id="INT"
            name="%INTName"
            translation="ℤ">
      </symbol>
      <symbol
            combo="\land"
            id="land"
            name="%landName"
            translation="∧">
      </symbol>
      <symbol
            combo="\limp"
            id="limp"
            name="%limpName"
            translation="⇒">
      </symbol>
      <symbol
            combo="\leqv"
            id="leqv"
            name="%leqvName"
            translation="⇔">
      </symbol>
      <symbol
            combo="\neg"
            id="neg"
            name="%negName"
            translation="¬">
      </symbol>
      <symbol
            combo="\lor"
            id="lor"
            name="%lorName"
            translation="∨">
      </symbol>
      <symbol
            combo="\btrue"
            id="btrue"
            name="%btrueName"
            translation="⊤">
      </symbol>
      <symbol
            combo="\bfalse"
            id="bfalse"
            name="%bfalseName"
            translation="⊥">
      </symbol>
      <symbol
            combo="\forall"
            id="forall"
            name="%forallName"
            translation="∀">
      </symbol>
      <symbol
            combo="\exists"
            id="exists"
            name="%existsName"
            translation="∃">
      </symbol>
      <symbol
            combo="\qdot"
            id="qdot"
            name="%qdotName"
            translation="·">
      </symbol>
      <symbol
            combo="\in"
            id="in"
            name="%inName"
            translation="∈">
      </symbol>
      <symbol
            combo="\notin"
            id="notin"
            name="%notinName"
            translation="∉">
      </symbol>
      <symbol
            combo="\pow"
            id="POW"
            name="%POWName"
            translation="ℙ">
      </symbol>
      <symbol
            combo="\pown"
            id="POW1"
            name="%POW1Name"
            translation="ℙ1">
      </symbol>
      <symbol
            combo="\cprod"
            id="cprod"
            name="%cprodName"
            translation="×">
      </symbol>
      <symbol
            combo="\mapsto"
            id="mapsto"
            name="%mapstoName"
            translation="↦">
      </symbol>
      <symbol
            combo="\mid"
            id="mid"
            name="%midName"
            translation="∣">
      </symbol>
      <symbol
            combo="\subseteq"
            id="subseteq"
            name="%subseteqName"
            translation="⊆">
      </symbol>
      <symbol
            combo="\notsubseteq"
            id="notsubseteq"
            name="%notsubseteqName"
            translation="⊈">
      </symbol>
      <symbol
            combo="\subset"
            id="subset"
            name="%subsetName"
            translation="⊂">
      </symbol>
      <symbol
            combo="\notsubset"
            id="notsubset"
            name="%notsubsetName"
            translation="⊄">
      </symbol>
      <symbol
            combo="\neq"
            id="neq"
            name="%neqName"
            translation="≠">
      </symbol>
      <symbol
            combo="\bunion"
            id="bunion"
            name="%bunionName"
            translation="∪">
      </symbol>
      <symbol
            combo="\binter"
            id="binter"
            name="%binterName"
            translation="∩">
      </symbol>
      <symbol
            combo="\setminus"
            id="setminusName"
            name="%setminusName"
            translation="∖">
      </symbol>
      <symbol
            combo="\emptyset"
            id="emptyset"
            name="%emptysetName"
            translation="∅">
      </symbol>
      <symbol
            combo="\Union"
            id="UNION"
            name="%UNIONName"
            translation="⋃">
      </symbol>
      <symbol
            combo="\Inter"
            id="INTER"
            name="%INTERName"
            translation="⋂">
      </symbol>
      <symbol
            combo="\rel"
            id="rel"
            name="%relName"
            translation="↔">
      </symbol>
      <symbol
            combo="\conv"
            id="conv"
            name="%convName"
            translation="∼">
      </symbol>
      <symbol
            combo="\bcomp"
            id="bcomp"
            name="%bcompName"
            translation="∘">
      </symbol>
      <symbol
            combo="\trel"
            id="trel"
            name="%trelName"
            translation="">
      </symbol>
      <symbol
            combo="\srel"
            id="srel"
            name="%srelName"
            translation="">
      </symbol>
      <symbol
            combo="\strel"
            id="strel"
            name="%strelName"
            translation="">
      </symbol>
      <symbol
            combo="\domres"
            id="domres"
            name="%domresName"
            translation="◁">
      </symbol>
      <symbol
            combo="\ranres"
            id="ranres"
            name="%ranresName"
            translation="▷">
      </symbol>
      <symbol
            combo="\domsub"
            id="domsub"
            name="%domsubName"
            translation="⩤">
      </symbol>
      <symbol
            combo="\ransub"
            id="ransub"
            name="%ransubName"
            translation="⩥">
      </symbol>
      <symbol
            combo="\ovl"
            id="ovl"
            name="%ovlName"
            translation="">
      </symbol>
      <symbol
            combo="\dprod"
            id="dprod"
            name="%dprodName"
            translation="⊗">
      </symbol>
      <symbol
            combo="\pprod"
            id="pprod"
            name="%pprodName"
            translation="∥">
      </symbol>
      <symbol
            combo="\lambda"
            id="lambda"
            name="%lambdaName"
            translation="λ">
      </symbol>
      <symbol
            combo="\pfun"
            id="pfun"
            name="%pfunName"
            translation="⇸">
      </symbol>
      <symbol
            combo="\tfun"
            id="tfun"
            name="%tfunName"
            translation="→">
      </symbol>
      <symbol
            combo="\pinj"
            id="pinj"
            name="%pinjName"
            translation="⤔">
      </symbol>
      <symbol
            combo="\tinj"
            id="tinj"
            name="%tinjName"
            translation="↣">
      </symbol>
      <symbol
            combo="\psur"
            id="psur"
            name="%psurName"
            translation="⤀">
      </symbol>
      <symbol
            combo="\tsur"
            id="tsur"
            name="%tsurName"
            translation="↠">
      </symbol>
      <symbol
            combo="\tbij"
            id="tbij"
            name="%tbijName"
            translation="⤖">
      </symbol>
      <symbol
            combo="\upto"
            id="upto"
            name="%uptoName"
            translation="‥">
      </symbol>
      <symbol
            combo="\leq"
            id="leq"
            name="%leqName"
            translation="≤">
      </symbol>
      <symbol
            combo="\geq"
            id="geq"
            name="%geqName"
            translation="≥">
      </symbol>
      <symbol
            combo="-"
            id="minus"
            name="%minusName"
            translation="−">
      </symbol>
      <symbol
            combo="\times"
            id="times"
            name="%timesName"
            translation="∗">
      </symbol>
      <symbol
            combo="\div"
            id="div"
            name="%divName"
            translation="÷">
      </symbol>
      <symbol
            combo="\bcmeq"
            id="bcmeq"
            name="%bcmeqName"
            translation="≔">
      </symbol>
      <symbol
            combo="\bcmin"
            id="bcmin"
            name="%bcminName"
            translation=":∈">
      </symbol>
      <symbol
            combo="\bcmsuch"
            id="bcmsuch"
            name="%bcmsuchName"
            translation=":∣">
      </symbol>
      <symbol
            combo="\oftype"
            id="oftype"
            name="%oftypeName"
            translation="⦂">
      </symbol>
   </extension>
</plugin>
