<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="Common"
         name="Common Event-B keyboard combinations"
         point="org.rodinp.keyboard.core.symbols">
      <symbol
            combo="NAT"
            id="NAT"
            name="%NATName"
            translation="ℕ">
      </symbol>
      <symbol
            combo="NAT1"
            id="NAT1"
            name="%NAT1Name"
            translation="ℕ1">
      </symbol>
      <symbol
            combo="INT"
            id="INT"
            name="%INTName"
            translation="ℤ">
      </symbol>
      <symbol
            combo="&amp;"
            id="land"
            name="%landName"
            translation="∧">
      </symbol>
      <symbol
            combo="=&gt;"
            id="limp"
            name="%limpName"
            translation="⇒">
      </symbol>
      <symbol
            combo="&lt;=&gt;"
            id="leqv"
            name="%leqvName"
            translation="⇔">
      </symbol>
      <symbol
            combo="not"
            id="neg"
            name="%negName"
            translation="¬">
      </symbol>
      <symbol
            combo="or"
            id="lor"
            name="%lorName"
            translation="∨">
      </symbol>
      <symbol
            combo="true"
            id="btrue"
            name="%btrueName"
            translation="⊤">
      </symbol>
      <symbol
            combo="false"
            id="bfalse"
            name="%bfalseName"
            translation="⊥">
      </symbol>
      <symbol
            combo="!"
            id="forall"
            name="%forallName"
            translation="∀">
      </symbol>
      <symbol
            combo="#"
            id="exists"
            name="%existsName"
            translation="∃">
      </symbol>
      <symbol
            combo="."
            id="qdot"
            name="%qdotName"
            translation="·">
      </symbol>
      <symbol
            combo=":"
            id="in"
            name="%inName"
            translation="∈">
      </symbol>
      <symbol
            combo="/:"
            id="notin"
            name="%notinName"
            translation="∉">
      </symbol>
      <symbol
            combo="POW"
            id="POW"
            name="%POWName"
            translation="ℙ">
      </symbol>
      <symbol
            combo="POW1"
            id="POW1"
            name="%POW1Name"
            translation="ℙ1">
      </symbol>
      <symbol
            combo="**"
            id="cprod"
            name="%cprodName"
            translation="×">
      </symbol>
      <symbol
            combo="|-&gt;"
            id="mapsto"
            name="%mapstoName"
            translation="↦">
      </symbol>
      <symbol
            combo="|"
            id="mid"
            name="%midName"
            translation="∣">
      </symbol>
      <symbol
            combo="&lt;:"
            id="subseteq"
            name="%subseteqName"
            translation="⊆">
      </symbol>
      <symbol
            combo="/&lt;:"
            id="notsubseteq"
            name="%notsubseteqName"
            translation="⊈">
      </symbol>
      <symbol
            combo="&lt;&lt;:"
            id="subset"
            name="%subsetName"
            translation="⊂">
      </symbol>
      <symbol
            combo="/&lt;&lt;:"
            id="notsubset"
            name="%notsubsetName"
            translation="⊄">
      </symbol>
      <symbol
            combo="/="
            id="neq"
            name="%neqName"
            translation="≠">
      </symbol>
      <symbol
            combo="\/"
            id="bunion"
            name="%bunionName"
            translation="∪">
      </symbol>
      <symbol
            combo="/\"
            id="binter"
            name="%binterName"
            translation="∩">
      </symbol>
      <symbol
            combo="\"
            id="setminusName"
            name="%setminusName"
            translation="∖">
      </symbol>
      <symbol
            combo="{}"
            id="emptyset"
            name="%emptysetName"
            translation="∅">
      </symbol>
      <symbol
            combo="UNION"
            id="UNION"
            name="%UNIONName"
            translation="⋃">
      </symbol>
      <symbol
            combo="INTER"
            id="INTER"
            name="%INTERName"
            translation="⋂">
      </symbol>
      <symbol
            combo="&lt;-&gt;"
            id="rel"
            name="%relName"
            translation="↔">
      </symbol>
      <symbol
            combo="~"
            id="conv"
            name="%convName"
            translation="∼">
      </symbol>
      <symbol
            combo="circ"
            id="bcomp"
            name="%bcompName"
            translation="∘">
      </symbol>
      <symbol
            combo="&lt;&lt;-&gt;"
            id="trel"
            name="%trelName"
            translation="">
      </symbol>
      <symbol
            combo="&lt;-&gt;&gt;"
            id="srel"
            name="%srelName"
            translation="">
      </symbol>
      <symbol
            combo="&lt;&lt;-&gt;&gt;"
            id="strel"
            name="%strelName"
            translation="">
      </symbol>
      <symbol
            combo="&lt;|"
            id="domres"
            name="%domresName"
            translation="◁">
      </symbol>
      <symbol
            combo="|&gt;"
            id="ranres"
            name="%ranresName"
            translation="▷">
      </symbol>
      <symbol
            combo="&lt;&lt;|"
            id="domsub"
            name="%domsubName"
            translation="⩤">
      </symbol>
      <symbol
            combo="|&gt;&gt;"
            id="ransub"
            name="%ransubName"
            translation="⩥">
      </symbol>
      <symbol
            combo="&lt;+"
            id="ovl"
            name="%ovlName"
            translation="">
      </symbol>
      <symbol
            combo="&gt;&lt;"
            id="dprod"
            name="%dprodName"
            translation="⊗">
      </symbol>
      <symbol
            combo="||"
            id="pprod"
            name="%pprodName"
            translation="∥">
      </symbol>
      <symbol
            combo="%"
            id="lambda"
            name="%lambdaName"
            translation="λ">
      </symbol>
      <symbol
            combo="+-&gt;"
            id="pfun"
            name="%pfunName"
            translation="⇸">
      </symbol>
      <symbol
            combo="--&gt;"
            id="tfun"
            name="%tfunName"
            translation="→">
      </symbol>
      <symbol
            combo="&gt;+&gt;"
            id="pinj"
            name="%pinjName"
            translation="⤔">
      </symbol>
      <symbol
            combo="&gt;-&gt;"
            id="tinj"
            name="%tinjName"
            translation="↣">
      </symbol>
      <symbol
            combo="+&gt;&gt;"
            id="psur"
            name="%psurName"
            translation="⤀">
      </symbol>
      <symbol
            combo="-&gt;&gt;"
            id="tsur"
            name="%tsurName"
            translation="↠">
      </symbol>
      <symbol
            combo="&gt;-&gt;&gt;"
            id="tbij"
            name="%tbijName"
            translation="⤖">
      </symbol>
      <symbol
            combo=".."
            id="upto"
            name="%uptoName"
            translation="‥">
      </symbol>
      <symbol
            combo="&lt;="
            id="leq"
            name="%leqName"
            translation="≤">
      </symbol>
      <symbol
            combo="&gt;="
            id="geq"
            name="%geqName"
            translation="≥">
      </symbol>
      <symbol
            combo="-"
            id="minus"
            name="%minusName"
            translation="−">
      </symbol>
      <symbol
            combo="*"
            id="times"
            name="%timesName"
            translation="∗">
      </symbol>
      <symbol
            combo="/"
            id="div"
            name="%divName"
            translation="÷">
      </symbol>
      <symbol
            combo=":="
            id="bcmeq"
            name="%bcmeqName"
            translation="≔">
      </symbol>
      <symbol
            combo="::"
            id="bcmin"
            name="%bcminName"
            translation=":∈">
      </symbol>
      <symbol
            combo=":|"
            id="bcmsuch"
            name="%bcmsuchName"
            translation=":∣">
      </symbol>
      <symbol
            combo="oftype"
            id="oftype"
            name="%oftypeName"
            translation="⦂">
      </symbol>
   </extension>
   <extension
         point="org.rodinp.keyboard.core.symbols">
      <symbol
            combo=",,"
            id="mapsto1"
            name="%mapstoName"
            translation="↦">
      </symbol>
   </extension>
    <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/contents/rodin_keyboard_user_guide.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.rodinp.keyboard.core.symbols">
      <symbol
            combo="+-&gt;&gt;"
            id="psur1"
            name="%psurName"
            translation="⤀">
      </symbol>
      <symbol
            combo="--&gt;&gt;"
            id="tsur1"
            name="%tsurName"
            translation="↠">
      </symbol>
   </extension>
</plugin>
