<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="elementUISpecs" name="%point.elementUISpecsName" schema="schema/elementUISpecs.exsd"/>
   <extension-point id="editorPages" name="%point.editorPagesName" schema="schema/editorPages.exsd"/>
   <extension
         point="org.eventb.ui.tests.elementUISpecs">
      <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.VariableIdentifierAttributeFactory"
			defaultValue="var"
            horizontalExpand="false"
            id="org.eventb.core.variableIdentifier"
            priority="1"
            style="single"
            widget="text"/>
      <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.CommentAttributeFactory"
            horizontalExpand="true"
            id="org.eventb.core.variableComment"
            prefix="//"
            priority="9"
            style="multi"
            widget="text">
      </attributeRel>
      <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.InvariantLabelAttributeFactory"
            defaultValue="inv"
            horizontalExpand="false"
            id="org.eventb.core.invariantLabel"
            postfix=":"
            priority="1"
            style="single"
            widget="text">
      </attributeRel>
      <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.PredicateAttributeFactory"
            horizontalExpand="false"
            id="org.eventb.core.invariantPredicate"
            priority="2"
            style="multi"
            widget="text">
      </attributeRel>
            <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.EventLabelAttributeFactory"
            defaultValue="evt"
            horizontalExpand="false"
            id="org.eventb.core.eventLabelInvalidID"
            priority="1"
            style="single"
            widget="text">
      </attributeRel>
      <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.InheritedAttributeFactory"
            defaultValue="true"
            horizontalExpand="false"
            id="org.eventb.core.eventInherited"
            priority="2"
            widget="combo">
      </attributeRel>
      <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.ConvergenceAttributeFactory"
            horizontalExpand="false"
            id="org.eventb.core.eventConvergence"
            priority="3"
            widget="combo">
      </attributeRel>
	        <attributeRel
            factory="org.eventb.internal.ui.eventbeditor.editpage.ActionLabelAttributeFactory"
            defaultValue="act"
            horizontalExpand="false"
            id="org.eventb.core.actionLabel"
            postfix=":"
            priority="1"
            style="single"
            widget="text">
      </attributeRel>
	  <elementRel
            id="org.eventb.core.variable"
            prefix="VARIABLES"
            priority="3">
      </elementRel>
      <elementRel
            id="org.eventb.core.invariant"
            prefix="INVARIANTS"
            priority="4">
      </elementRel>
      <elementRel
            id="org.eventb.core.event"
            postfix="END"
            prefix="EVENTS"
            priority="8">
      </elementRel>
      <elementRel
            id="org.eventb.core.variant"
            prefix="VARIANT"
            priority="9">
      </elementRel>
      <elementRel
            id="org.eventb.core.invalidID"
            prefix="INVALID_ID"
            priority="1">
      </elementRel>
      <elementRel
            id="org.eventb.core.parameter"
            prefix="ANY"
            priority="2">
      </elementRel>
      <elementRel
            id="org.eventb.core.guard"
            prefix="WHERE"
            priority="3">
      </elementRel>
      <elementRel
            id="org.eventb.core.action"
            postfix="END"
            prefix="THEN"
            priority="9">
      </elementRel>
   </extension>
   <extension
         point="org.eventb.ui.tests.editorPages">
      <page
            class="org.eventb.internal.ui.eventbeditor.htmlpage.HTMLPage"
            id="org.eventb.ui.htmlpage"
            isDefault="true"
            name="%editorPages.HTMLPageName"
            priority="1">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.VariablePage"
            id="org.eventb.ui.variablepage"
            name="%editorPages.noIsDefaultAttributePageName"
            priority="2">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.editpage.EditPage"
            id="org.eventb.ui.edit"
            isDefault="false"
            name="%editorPages.EditPageName"
            priority="3">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.DependenciesPage"
            id="org.eventb.ui.dependencypage"
            isDefault="true"
            name="%editorPages.DependenciesPageName"
            priority="6">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
         <target
               id="org.eventb.ui.editors.context">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.SyntheticViewPage"
            id="org.eventb.ui.syntheticviewpage"
            isDefault="true"
            name="%editorPages.SyntheticViewPageName"
            priority="2">
         <target
               id="org.eventb.ui.editors.context">
         </target>
      </page>
   </extension>

</plugin>
