<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="editorPages" name="%point.editorPagesName" schema="schema/editorPages.exsd"/>
   <extension
         point="org.eventb.ui.tests.editorPages">
      <page
            class="org.eventb.internal.ui.eventbeditor.htmlpage.HTMLPage"
            id="org.eventb.ui.htmlpage"
            isDefault="true"
            name="%editorPages.HTMLPageName"
            priority="1">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.VariablePage"
            id="org.eventb.ui.variablepage"
            name="%editorPages.noIsDefaultAttributePageName"
            priority="2">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.editpage.EditPage"
            id="org.eventb.ui.edit"
            isDefault="false"
            name="%editorPages.EditPageName"
            priority="3">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.DependenciesPage"
            id="org.eventb.ui.dependencypage"
            isDefault="true"
            name="%editorPages.DependenciesPageName"
            priority="6">
         <target
               id="org.eventb.ui.editors.machine">
         </target>
         <target
               id="org.eventb.ui.editors.context">
         </target>
      </page>
      <page
            class="org.eventb.internal.ui.eventbeditor.SyntheticViewPage"
            id="org.eventb.ui.syntheticviewpage"
            isDefault="true"
            name="%editorPages.SyntheticViewPageName"
            priority="2">
         <target
               id="org.eventb.ui.editors.context">
         </target>
      </page>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.ui.eventbeditor.tests.basis.TestParentElement"
            id="parentTestElement"
            name="Parent Test Element">
      </internalElementType>
      <internalElementType
            class="org.eventb.ui.eventbeditor.tests.basis.TestChildElement"
            id="childTestElement"
            name="Child Test Element">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.ui.tests.testParentElement">
         <childType
               typeId="org.eventb.ui.tests.testChildElement">
         </childType>
      </relationship>
   </extension>
   <extension
         point="org.eventb.ui.editorItems">
      <element
            prefix="PARENT_PREFIX"
            typeId="org.eventb.ui.tests.parentTestElement">
      </element>
      <element
            childrenSuffix="CHILD_SUFFIX"
            prefix="CHILD_PREFIX"
            typeId="org.eventb.ui.tests.childTestElement">
      </element>
      <childRelation
            parentTypeId="org.eventb.ui.tests.parentTestElement">
         <childType
               prefix="OVERRIDEN_CHILD_PREFIX"
               priority="10"
               typeId="org.eventb.ui.tests.childTestElement">
         </childType>
      </childRelation>
   </extension>

</plugin>
