<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="fr.systerel.eventb.indexer.Indexers"
         name="Event-B Indexers"
         point="org.rodinp.core.indexers">
      <indexer
            class="org.eventb.core.indexer.ContextIndexer"
            id="contextIndexer"
            name="Event-B Context Indexer"
            root-element-type="org.eventb.core.contextFile">
      </indexer>
      <indexer
            class="org.eventb.core.indexer.MachineIndexer"
            id="machineIndexer"
            name="Event-B Machine Indexer"
            root-element-type="org.eventb.core.machineFile">
      </indexer>
   </extension>
   <extension
         id="fr.systerel.eventb.indexer.occurrenceKinds"
         name="Event-B Occurrence Kinds"
         point="org.rodinp.core.occurrenceKinds">
      <occurrenceKind
            id="declaration"
            name="Declaration">
      </occurrenceKind>
      <occurrenceKind
            id="reference"
            name="Reference">
      </occurrenceKind>
      <occurrenceKind
            id="modification"
            name="Modification">
      </occurrenceKind>
   </extension>

</plugin>
