<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            name="AutomaticRewrites"
            class="org.eventb.contributer.seqprover.fr1834715.AutoRewrites"
            id="org.eventb.contributer.seqprover.fr1834715.autoRewrites">
      </reasoner>
      <reasoner
            class="org.eventb.contributer.seqprover.fr1834715.manual.ManualRewrites"
            id="org.eventb.contributer.seqprover.fr1834715.manualRewrites"
            name="Manual Rewrites">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="org.eventb.contributer.seqprover.fr1834715.Tactic1"
            id="autoTactic1"
            name="fr1834715(subset)">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.postTactics">
      <tactic
            id="org.eventb.contributer.seqprover.fr1834715.autoTactic1">
      </tactic>
   </extension>
   <extension
         point="org.eventb.ui.proofTactics">
      <tactic
            icon="icons/default.gif"
            id="org.eventb.contributer.seqprover.fr1834715.tacticHyp"
            interrupt="false"
            name="Remove subset"
            priorty="9"
            tacticProvider="org.eventb.contributer.seqprover.fr1834715.manual.RewriterTacticProvider"
            target="hypothesis"
            tooltip="Expanding the definition of subset into subset equal">
      </tactic>
      <tactic
            icon="icons/default.gif"
            id="org.eventb.contributer.seqprover.fr1834715.tacticGoal"
            interrupt="false"
            name="Remove subset"
            priorty="9"
            tacticProvider="org.eventb.contributer.seqprover.fr1834715.manual.RewriterTacticProvider"
            target="goal"
            tooltip="Expanding the definition of subset into subset equal">
      </tactic>
   </extension>

</plugin>
