<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eventb.ide.cheatsheet.projectCreation"
            name="Event-B Project creation"/>
      <cheatsheet
            category="org.eventb.ide.cheatsheet.projectCreation"
            contentFile="cheatSheets/simpleCounterProject.xml"
            id="org.eventb.ide.cheatsheet.projectCreation.simpleCounterProject"
            name="Simple Counter Project"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eventb.ide.ui.perspectives.EventBPerspective"
            icon="icons/full/clcl16/b_per.gif"
            id="org.eventb.ui.perspective.eventb"
            name="%perspective.eventb"/>
      <perspective
            class="org.eventb.ide.ui.perspectives.ProvingPerspective"
            icon="icons/full/clcl16/prf_per.gif"
            id="org.eventb.ui.perspective.proving"
            name="%perspective.proving"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eventb.ui.perspective.proving">
         <view
               id="org.eventb.ui.views.ProofInformation"
               ratio="0.25"
               relationship="fast"/>
         <view
               id="org.eventb.ui.views.SearchHypothesis"
               ratio="0.25"
               relationship="fast"/>
         <view
               id="org.eventb.ui.views.CacheHypothesis"
               ratio="0.25"
               relationship="fast"/>
         <view
               id="org.eventb.ui.views.ProofSkeleton"
               ratio="0.25"
               relationship="fast"/>
         <view
               id="org.eventb.ui.views.RuleDetails"
               ratio="0.25"
               relationship="fast">
         </view>
         <view
               id="org.eventb.ui.views.Goal"
               ratio="0.4"
               relationship="top"
               relative="org.eventb.ui.views.ProofControl"/>
         <view
               id="fr.systerel.explorer.statistics"
               relationship="stack"
               relative="org.eventb.ui.views.ProofControl"/>
         <perspectiveShortcut id="org.eventb.ui.perspective.eventb"/>
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         <viewShortcut id="fr.systerel.explorer.navigator.view"/>
         <viewShortcut id="fr.systerel.explorer.statistics"/>
         <viewShortcut id="org.eventb.ui.views.ProofTreeUI"/>
         <viewShortcut id="org.eventb.ui.views.ProofControl"/>
         <viewShortcut id="org.eventb.ui.views.ProofInformation"/>
         <viewShortcut id="org.eventb.ui.views.SearchHypothesis"/>
         <viewShortcut id="org.eventb.ui.views.CacheHypothesis"/>
         <viewShortcut id="org.eventb.ui.views.ProofSkeleton"/>
         <viewShortcut id="org.eventb.ui.views.Goal"/>
         <viewShortcut id="org.eventb.ui.views.RodinProblemView"/>
         <view
               id="org.eventb.ui.views.RodinProblemView"
               relationship="stack"
               relative="org.eventb.ui.views.ProofControl"/>
         <newWizardShortcut id="org.eventb.ui.wizards.NewProject"/>
         <newWizardShortcut id="org.eventb.ui.wizards.NewComponent"/>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               relationship="stack"
               relative="org.eventb.ui.views.ProofControl"
               visible="false">
         </view>
         <viewShortcut
               id="org.eventb.ui.views.RuleDetails">
         </viewShortcut>
         <viewShortcut
               id="org.eventb.ui.views.TypeEnv">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eventb.ui.perspective.eventb">
         <view
               id="org.eclipse.ui.views.PropertySheet"
               relationship="stack"
               relative="org.eventb.ui.views.RodinProblemView"/>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="org.eventb.ui.views.RodinProblemView"/>
         <viewShortcut id="org.eventb.ui.views.RodinProblemView"/>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet"/>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
         <viewShortcut id="org.eclipse.ui.views.TaskList"/>
         <viewShortcut id="fr.systerel.explorer.navigator.view"/>
         <newWizardShortcut id="org.eventb.ui.wizards.NewProject"/>
         <newWizardShortcut id="org.eventb.ui.wizards.NewComponent"/>
         <perspectiveShortcut id="org.eventb.ui.perspective.proving"/>
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               relationship="stack"
               relative="org.eventb.ui.views.RodinProblemView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>


</plugin>
