<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="fr.systerel.explorer.examples.contentProvider.navigatorContent">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="fr.systerel.explorer.examples.contentProvider.ContentProvider"
            id="fr.systerel.explorer.examples.contentProvider.navigatorContent"
            labelProvider="org.eclipse.jface.viewers.LabelProvider"
            name="example content">
         <triggerPoints>
            <instanceof
                  value="org.eventb.core.IInvariant">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>

</plugin>
