<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.core.seqprover.reasonerExtentionTests.TrueGoal"
            id="trueGoal"
            name="⊤ goal"/>
      <reasoner
            class="org.eventb.core.seqprover.reasonerExtentionTests.TrueGoal"
            id="erroneous.id"
            name="Erroneous id (contains a dot)"/>
      <reasoner
            class="org.eventb.core.seqprover.xprover.tests.TestReasoner"
            id="test"
            name="%reasoner.test.name"/>
      <reasoner
            class="org.eventb.core.seqprover.xprover.tests.ExtendedInputReasoner"
            id="extended"
            name="%reasoner.extended.name"/>
   </extension>
</plugin>
