<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.core.seqprover.reasonerExtentionTests.TrueGoal"
            id="trueGoal"
            name="⊤ goal"/>
   </extension>

</plugin>
