<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.core.seqprover.reasonerExtentionTests.TrueGoal"
            id="trueGoal"
            name="⊤ goal"/>
      <reasoner
            class="org.eventb.core.seqprover.reasonerExtentionTests.TrueGoal"
            id="erroneous.id"
            name="Erroneous id (contains a dot)"/>
      <reasoner
            class="org.eventb.core.seqprover.reasonerExtentionTests.TrueGoal"
            id="erroneous id"
            name="Erroneous id (contains a whitespace)"/>
      <reasoner
            class="org.eventb.core.seqprover.xprover.tests.TestReasoner"
            id="test"
            name="%reasoner.test.name"/>
      <reasoner
            class="org.eventb.core.seqprover.xprover.tests.ExtendedInputReasoner"
            id="extended"
            name="%reasoner.extended.name"/>
      <reasoner
            class="org.eventb.core.seqprover.rewriterTests.HideOriginalRewrites"
            id="hideOriginalRewrites"
            name="Simple rewriter (hide original)">
      </reasoner>
      <reasoner
            class="org.eventb.core.seqprover.rewriterTests.ShowOriginalRewrites"
            id="showOriginalRewrites"
            name="Simple rewriter (show original)">
      </reasoner>
      <reasoner
            class="org.eventb.core.seqprover.reasonerExtentionTests.ReasonerV1"
            id="reasonerV1"
            name="reasonerV1">
      </reasoner>
      <reasoner
            class="org.eventb.core.seqprover.proofBuilderTests.SuccessReasoner"
            id="successReasoner"
            name="Success Reasoner">
      </reasoner>
      <reasoner
            class="org.eventb.core.seqprover.proofBuilderTests.FailureReasoner"
            id="failureReasoner"
            name="Failure Reasoner">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="org.eventb.core.seqprover.autoTacticExtentionTests.IdentityTactic"
            description="This tactic does nothing but succeeds"
            id="identityTac"
            name="Identity Tactic"/>
      <autoTactic
            class="org.eventb.core.seqprover.autoTacticExtentionTests.IdentityTactic$FailTactic"
            id="failTac"
            name="Fail Tactic"/>
      <autoTactic
            class="org.eventb.core.seqprover.autoTacticExtentionTests.IdentityTactic"
            id="erroneous.id"
            name="Erroneous id (contains a dot)"/>
      <autoTactic
            class="org.eventb.core.seqprover.autoTacticExtentionTests.IdentityTactic"
            id="erroneous id"
            name="Erroneous id (contains a whitespace)"/>
      <autoTactic
            class="java.lang.Object"
            id="badInstance"
            name="Does not implement ITactic">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.autoTacticExtentionTests.DefaultCombinatorTests$TracingSuccess"
            id="tracingSuccess"
            name="Tracing Success">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.autoTacticExtentionTests.DefaultCombinatorTests$TracingFailure"
            id="tracingFailure"
            name="Tracing Failure">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.autoTacticExtentionTests.DefaultCombinatorTests$TracingSuccess3"
            id="tracingSuccess3"
            name="Tracing Success 3">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticCombinators">
      <combinator
            boundArity="false"
            class="org.eventb.core.seqprover.autoTacticExtentionTests.TestTacticCombinators$FakeTacComb"
            description="records which tactic it&apos;s been applied to, then fails"
            id="tacComb"
            minArity="1"
            name="Fake Tactic Combinator">
      </combinator>
      <combinator
            boundArity="false"
            class="org.eventb.core.seqprover.autoTacticExtentionTests.TestTacticCombinators$OneOrMore"
            description="1 or more tactics"
            id="combOneOrMore"
            minArity="1"
            name="One or More">
      </combinator>
      <combinator
            boundArity="true"
            class="org.eventb.core.seqprover.autoTacticExtentionTests.TestTacticCombinators$Two"
            id="combTwo"
            minArity="2"
            name="Two Combined">
      </combinator>
      <combinator
            boundArity="false"
            class="org.eventb.core.seqprover.autoTacticExtentionTests.TestTacticCombinators$Zero"
            id="combZero"
            minArity="0"
            name="Zero Combined">
      </combinator>
      <combinator
            boundArity="true"
            class="org.eventb.core.seqprover.autoTacticExtentionTests.TestTacticCombinators$NoParseable"
            id="noParseArity"
            minArity="this is not a number"
            name="No Parseable Arity">
      </combinator>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticParameterizers">
      <parameterizer
            class="java.lang.Object"
            id="badInstance"
            name="Does not implement ITacticParameterizer">
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$TacParameterizer"
            id="tacParam"
            name="Tactic with Parameters">
         <tacticParameter
               default="true"
               label="bool1"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="false"
               label="bool2"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="314"
               label="int1"
               type="Integer">
         </tacticParameter>
         <tacticParameter
               default="9223372036854775807"
               label="long1"
               type="Long">
         </tacticParameter>
         <tacticParameter
               default="formulæ"
               label="string1"
               type="String">
         </tacticParameter>
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$SimpleTacWithParam"
            id="tacWithParam"
            name="implements ITactic with parameter">
         <tacticParameter
               default="true"
               label="label"
               type="Boolean">
         </tacticParameter>
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$ParamTacNoParam"
            id="noParam"
            name="Parameterizer without parameter">
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$FakeTactic"
            id="notParseableInt"
            name="No Parseable Integer">
         <tacticParameter
               default="12.5"
               label="label"
               type="Integer">
         </tacticParameter>
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$FakeTactic"
            id="notParseableLong"
            name="No Parseable Long">
         <tacticParameter
               default="9223372036854775807999"
               label="label"
               type="Long">
         </tacticParameter>
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$FakeTactic"
            id="duplLabel"
            name="Duplicate Label">
         <tacticParameter
               default="true"
               label="dupl"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="true"
               label="dupl"
               type="Boolean">
         </tacticParameter>
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$ParamNullInstance"
            id="paramNullInstance"
            name="Parameterizer making null instance">
         <tacticParameter
               default="false"
               description="just to make it an acceptable parameterizer"
               label="label"
               type="Boolean">
         </tacticParameter>
      </parameterizer>
      <parameterizer
            class="org.eventb.core.seqprover.autoTacticExtentionTests.ParameterizedTactics$ParamThrowsException"
            id="paramThrowsException"
            name="Parameterizer throwing an exception">
         <tacticParameter
               default="false"
               description="just to make it an acceptable parameterizer"
               label="label"
               type="Boolean">
         </tacticParameter>
      </parameterizer>
   </extension>
</plugin>
