<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.rodinp.keyboard.symbols">
      <symbol
            combo="dupID1"
            id="duplicateId"
            name="Duplicate Id"
            translation="d1">
      </symbol>
      <symbol
            combo="dupID2"
            id="duplicateId"
            name="Duplicate Id"
            translation="d2">
      </symbol>
      <symbol
            combo="dupCombo"
            id="duplicateCombo1"
            name="Duplicate Combo"
            translation="dupCombo1">
      </symbol>
      <symbol
            combo="dupCombo"
            id="duplicateCombo2"
            name="Duplicate Combo"
            translation="dupCombo2">
      </symbol>
      <symbolProvider
            class="org.rodinp.keyboard.tests.registry.TestSymbolProvider">
      </symbolProvider>
   </extension>

</plugin>
