<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipse.ui.navigator.resourceContent"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eventb.ui"
            class="fr.systerel.internal.explorer.navigator.EventBNavigator"
            icon="icons/full/clcl16/prj_expl.gif"
            id="fr.systerel.explorer.navigator.view"
            name="%view.navigator">
      </view>
      <view
            category="org.eventb.ui"
            class="fr.systerel.internal.explorer.statistics.StatisticsView"
            id="fr.systerel.explorer.statistics"
            name="%view.statistics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="fr.systerel.explorer.navigator.view">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.machineContext">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.invariant">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.event">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.variable">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.axiom">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.constant">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.carrierSet">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.pofiles">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.machine">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.context">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.complex.machine">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.complex.context">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="fr.systerel.explorer.navigator.actionProviders.file">
            </actionExtension>
            <actionExtension
                  pattern="fr.systerel.explorer.navigator.actionProviders.element">
            </actionExtension>
            <actionExtension
                  pattern="fr.systerel.explorer.navigator.actionProviders.po">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkingSetActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.InvariantContentProvider"
            id="fr.systerel.explorer.navigator.content.invariant"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.invariants"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IInvariant">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.EventContentProvider"
            id="fr.systerel.explorer.navigator.content.event"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.events"
            priority="lower">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IEvent">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof></or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.VariableContentProvider"
            id="fr.systerel.explorer.navigator.content.variable"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.variables"
            priority="high">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IVariable">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.AxiomContentProvider"
            id="fr.systerel.explorer.navigator.content.axiom"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.axioms"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IAxiom">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.ConstantsContentProvider"
            id="fr.systerel.explorer.navigator.content.constant"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.constants"
            priority="high">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IConstant">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.CarrierSetContentProvider"
            id="fr.systerel.explorer.navigator.content.carrierSet"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.carrierSets"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof></or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.ICarrierSet">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.POContentProvider"
            id="fr.systerel.explorer.pofiles"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.poFiles"
            priority="lowest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IInvariant">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IAxiom">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IEvent">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.IElementNode">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IPSStatus">
            </instanceof>
            <instanceof
                  value="fr.systerel.explorer.IElementNode">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="fr.systerel.internal.explorer.navigator.actionProviders.RootActionProvider"
            id="fr.systerel.explorer.navigator.actionProviders.file">
         <enablement>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="fr.systerel.internal.explorer.navigator.actionProviders.ElementActionProvider"
            id="fr.systerel.explorer.navigator.actionProviders.element">
         <enablement>
            <or>
               <instanceof
                     value="org.eventb.core.IAxiom">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IInvariant">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IEvent">
               </instanceof>
               <instanceof
                     value="org.eventb.core.ICarrierSet">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IConstant">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IVariable">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IPSStatus">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <navigatorContent
            activeByDefault="true"
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.MachineContentProvider"
            id="fr.systerel.explorer.navigator.content.machine"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.machine"
            priority="higher">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.ContextContentProvider"
            id="fr.systerel.explorer.navigator.content.context"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.context"
            priority="highest">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="false"
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.complex.ComplexContextContentProvider"
            id="fr.systerel.explorer.navigator.content.complex.context"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.complex.context"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IContextRoot">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="false"
            contentProvider="fr.systerel.internal.explorer.navigator.contentProviders.complex.ComplexMachineContentProvider"
            id="fr.systerel.explorer.navigator.content.complex.machine"
            labelProvider="fr.systerel.internal.explorer.navigator.contentProviders.RodinLabelProvider"
            name="%navigatorContent.complex.machine"
            priority="higher">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IMachineRoot">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.internal.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="false"
            class="fr.systerel.internal.explorer.navigator.filters.HideNoneRodinFilter"
            id="fr.systerel.explorer.navigator.filters.hideNonRodin"
            name="%filters.hideNonRodin">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.HideAllResourcesFilter"
            id="fr.systerel.explorer.navigator.filters.hideResources"
            name="%filters.hideResources">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.FileTypeFilter$CheckedContextFilter"
            id="fr.systerel.explorer.navigator.filters.hideBcc"
            name="%filters.hideBcc">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.FileTypeFilter$CheckedMachineFilter"
            id="fr.systerel.explorer.navigator.filters.hideBcm"
            name="%filters.hideBcm">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.FileTypeFilter$POFilter"
            id="fr.systerel.explorer.navigator.filters.hideBpo"
            name="%filters.hideBpo">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.FileTypeFilter$PRFilter"
            id="fr.systerel.explorer.navigator.filters.hideBpr"
            name="%filters.hideBpr">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.FileTypeFilter$PSFilter"
            id="fr.systerel.explorer.navigator.filters.hideBps"
            name="%filters.hideBps">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.FileTypeFilter$UncheckedContextFilter"
            id="fr.systerel.explorer.navigator.filters.hideBuc"
            name="%filters.hideBuc">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.FileTypeFilter$UncheckedMachineFilter"
            id="fr.systerel.explorer.navigator.filters.hideBum"
            name="%filters.hideBum">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.ObligationTextFilter"
            id="fr.systerel.explorer.navigator.filters.obligationText"
            name="%filters.default">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.DischargedFilter"
            id="fr.systerel.explorer.navigator.filters.discharged"
            name="%filters.default">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="fr.systerel.internal.explorer.navigator.filters.ContextFilter"
            id="fr.systerel.explorer.navigator.filters.contexts"
            name="%filters.default">
      </commonFilter>
      <commonWizard
            type="new"
            wizardId="org.eventb.ui.wizards.NewProject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eventb.ui.wizards.NewComponent">
         <enablement></enablement>
      </commonWizard>
      <commonFilter
            activeByDefault="false"
            class="fr.systerel.internal.explorer.navigator.filters.AutoPOFilter"
            id="fr.systerel.explorer.navigator.filters.autoPO"
            name="%filters.disAuto">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="fr.systerel.internal.explorer.navigator.filters.ManualPOFilter"
            id="fr.systerel.explorer.navigator.filters.manualPO"
            name="%filters.disManual">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.systerel.explorer.retryAutoProvers"
            name="%navigatorCommand.autoProvers.name">
      </command>
      <command
            id="fr.systerel.explorer.recalculateAutoStatus"
            name="%navigatorCommand.autoStatus.name">
      </command>
      <command
            id="fr.systerel.explorer.replay"
            name="%navigatorCommand.replay.name">
      </command>
      <command
            description="%commands.newComponent.description"
            id="fr.systerel.explorer.navigator.newComponent"
            name="%commands.newComponent.name">
      </command>
      <command
      		description="%commands.newProject.description"
            id="fr.systerel.explorer.navigator.newProject"
            name="%commands.newProject.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <separator
               name="fr.systerel.explorer.separator.commands"
               visible="true">
         </separator>
         <command
               commandId="fr.systerel.explorer.retryAutoProvers"
               icon="icons/discharged.gif"
               label="%navigatorCommand.autoProvers.label"
               style="push">
         </command>
         <command
               commandId="fr.systerel.explorer.recalculateAutoStatus"
               icon="icons/discharged.gif"
               label="%navigatorCommand.autoStatus.label"
               style="push">
         </command>
         <command
               commandId="fr.systerel.explorer.replay"
               icon="icons/discharged_broken.gif"
               label="%navigatorCommand.replay.name"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:fr.systerel.explorer.navigator.view">
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
         <command
               commandId="fr.systerel.explorer.navigator.newComponent"
               icon="icons/full/clcl16/newcomp_wiz.gif"
               mnemonic="%commands.newComponent.mnemonic"
               tooltip="%commands.newComponent.tooltip">
         </command>
         <command
               commandId="fr.systerel.explorer.navigator.newProject"
               icon="icons/full/clcl16/newprj_wiz.gif"
               mnemonic="%commands.newProject.mnemonic"
               style="push"
               tooltip="%commands.newProject.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.internal.explorer.navigator.handlers.RetryAutoProversHandler"
            commandId="fr.systerel.explorer.retryAutoProvers">
      </handler>
      <handler
            class="fr.systerel.internal.explorer.navigator.handlers.RecalculateAutoStatusHandler"
            commandId="fr.systerel.explorer.recalculateAutoStatus">
      </handler>
      <handler
            class="fr.systerel.internal.explorer.navigator.handlers.ReplayUndischargedHandler"
            commandId="fr.systerel.explorer.replay">
      </handler>
      <handler
            class="fr.systerel.internal.explorer.navigator.handlers.NewResourceHandler$NewComponentHandler"
            commandId="fr.systerel.explorer.navigator.newComponent">
      </handler>
      <handler
            class="fr.systerel.internal.explorer.navigator.handlers.NewResourceHandler$NewProjectHandler"
            commandId="fr.systerel.explorer.navigator.newProject">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="fr.systerel.internal.explorer.navigator.decorators.POStatusDec"
            id="fr.systerel.explorer.poStatus"
            label="%decorator.poStatus.label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.rodinp.core.IRodinElement">
               </objectClass>
               <objectClass
                     name="fr.systerel.explorer.IElementNode">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>


</plugin>
