<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipse.ui.navigator.resourceContent"
         point="org.eclipse.ui.views">
      <category
            id="fr.systerel.explorer.category"
            name="%view.category.eventB">
      </category>
      <view
            category="fr.systerel.explorer.category"
            class="fr.systerel.explorer.navigator.RodinNavigator"
            id="fr.systerel.explorer.navigator.view"
            name="%view.navigator">
      </view>
      <view
            category="fr.systerel.explorer.category"
            class="org.eventb.internal.ui.prooftreeui.ProofTreeUI"
            id="org.eventb.ui.views.ProofTreeUI"
            name="%view.ProofTreeUI">
      </view>
      <view
            category="fr.systerel.explorer.category"
            class="org.eventb.internal.ui.proofinformation.ProofInformation"
            id="org.eventb.ui.views.ProofInformation"
            name="%view.ProofInformation">
      </view>
      <view
            category="fr.systerel.explorer.category"
            class="org.eventb.internal.ui.goal.Goal"
            id="org.eventb.ui.views.Goal"
            name="%view.Goal">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="fr.systerel.explorer.navigator.view">
      </viewer>
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern="fr.systerel.explorer.navigator.content.project">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.machine">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.context">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.machineContext">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.invariant">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.event">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.variable">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.theorem">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.axiom">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.constant">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.carrierSet">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.pofiles">
            </contentExtension>
            <contentExtension
                  pattern="fr.systerel.explorer.navigator.content.complex">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="fr.systerel.explorer.navigator.actionProviders.file">
            </actionExtension>
            <actionExtension
                  pattern="fr.systerel.explorer.navigator.actionProviders.project">
            </actionExtension>
            <actionExtension
                  pattern="fr.systerel.explorer.navigator.actionProviders.treeNode">
            </actionExtension>
            <actionExtension
                  pattern="fr.systerel.explorer.navigator.actionProviders.element">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eventb.internal.ui.RodinProjectContentProvider"
            id="fr.systerel.explorer.navigator.content.project"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.project"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.rodinp.core.IRodinProject">
            </instanceof>
            <instanceof
                  value="org.eclipse.core.resources.IContainer">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <instanceof
                  value="org.rodinp.core.IRodinDB">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.MachineContentProvider"
            id="fr.systerel.explorer.navigator.content.machine"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.machine">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineFile">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.complexModel.ComplexMachine">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.explorer.navigator.sorters.MachineContentSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.ContextContentProvider"
            id="fr.systerel.explorer.navigator.content.context"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.context">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IContextFile">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.complexModel.ComplexContext">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.explorer.navigator.sorters.ContextSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.MachineContextContentProvider"
            id="fr.systerel.explorer.navigator.content.machineContext"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.machineContexts">
         <triggerPoints>
            <instanceof
                  value="org.rodinp.core.IRodinProject">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineFile">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextFile">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="fr.systerel.explorer.navigator.sorters.MachineContextSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.InvariantContentProvider"
            id="fr.systerel.explorer.navigator.content.invariant"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.invariants">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IInvariant">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.EventContentProvider"
            id="fr.systerel.explorer.navigator.content.event"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.events">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IEvent">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.VariableContentProvider"
            id="fr.systerel.explorer.navigator.content.variable"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.variables">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IVariable">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.TheoremContentProvider"
            id="fr.systerel.explorer.navigator.content.theorem"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.theorems">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.ITheorem">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.AxiomContentProvider"
            id="fr.systerel.explorer.navigator.content.axiom"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.axioms">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IAxiom">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.ConstantsContentProvider"
            id="fr.systerel.explorer.navigator.content.constant"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.constants">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IConstant">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.CarrierSetContentProvider"
            id="fr.systerel.explorer.navigator.content.carrierSet"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.carrierSets">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.ICarrierSet">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.POContentProvider"
            id="fr.systerel.explorer.pofiles"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.poFiles">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IInvariant">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IAxiom">
               </instanceof>
               <instanceof
                     value="org.eventb.core.ITheorem">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IEvent">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.poModel.Machine">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.poModel.Context">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eventb.core.IPSStatus">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.VariantContentProvider"
            id="fr.systerel.explorer.navigator.content.variant"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.variants">
         <triggerPoints>
            <instanceof
                  value="org.eventb.ui.projectexplorer.TreeNode">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="fr.systerel.explorer.navigator.contentProviders.complex.ComplexContentProvider"
            id="fr.systerel.explorer.navigator.content.complex"
            labelProvider="fr.systerel.explorer.navigator.RodinLabelProvider"
            name="%navigatorContent.complex">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.rodinp.core.IRodinProject">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextFile">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IMachineFile">
               </instanceof>
            </or>
         </triggerPoints>
         <commonSorter
               class="fr.systerel.explorer.navigator.sorters.AntiSorter">
         </commonSorter>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineFile">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextFile">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="fr.systerel.explorer.navigator.actionProviders.ProjectActionProvider"
            id="fr.systerel.explorer.navigator.actionProviders.project">
         <enablement>
            <instanceof
                  value="org.rodinp.core.IRodinProject">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="fr.systerel.explorer.navigator.actionProviders.TreeNodeActionProvider"
            id="fr.systerel.explorer.navigator.actionProviders.treeNode">
         <enablement>
            <or>
               <instanceof
                     value="fr.systerel.explorer.poModel.Machine">
               </instanceof>
               <instanceof
                     value="org.eventb.ui.projectexplorer.TreeNode">
               </instanceof>
               <instanceof
                     value="fr.systerel.explorer.poModel.Context">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="fr.systerel.explorer.navigator.actionProviders.FileActionProvider"
            id="fr.systerel.explorer.navigator.actionProviders.file">
         <enablement>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineFile">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextFile">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="fr.systerel.explorer.navigator.actionProviders.ElementActionProvider"
            id="fr.systerel.explorer.navigator.actionProviders.element">
         <enablement>
            <or>
               <instanceof
                     value="org.eventb.core.IAxiom">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IInvariant">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IEvent">
               </instanceof>
               <instanceof
                     value="org.eventb.core.ICarrierSet">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IConstant">
               </instanceof>
               <instanceof
                     value="org.eventb.core.ITheorem">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IVariable">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>

</plugin>
