<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.systerel.editor.editors.RodinEditor"
            default="true"
            extensions="bum, buc"
            icon="icons/full/clcl16/b_file.gif"
            id="fr.systerel.editor.editors.RodinEditor"
            name="%editorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.handlers.AddChildHandler"
            commandId="fr.systerel.editor.addChild">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.AddSiblingHandler"
            commandId="fr.systerel.editor.addSibling">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.MoveUpHandler"
            commandId="org.eclipse.ui.edit.text.moveLineUp">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.MoveDownHandler"
            commandId="org.eclipse.ui.edit.text.moveLineDown">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.rodinp.core.emf.lightcore.RodinResourceFactory"
            type="ebuc">
      </parser>
      <parser
            class="org.rodinp.core.emf.lightcore.RodinResourceFactory"
            type="ebum">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.systerel.editor.editionCategory"
            name="Model Edition Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addChild"
            name="Add Child Command">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addSibling"
            name="Add Sibling">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.moveUp"
            name="Move Up">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.moveDown"
            name="Move Down">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.editor.editors.RodinEditor?before=additions">
         <command
               commandId="fr.systerel.editor.addChild"
               label="Add Child"
               style="push">
         </command>
         <command
               commandId="fr.systerel.editor.addSibling"
               label="Add Sibling"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <separator
               name="fr.systerel.editor.MovementSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineUp"
               label="Move Up"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineDown"
               label="Move Down"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="The context for the Rodin Editor. Used by commands to find handlers."
            id="fr.systerel.editor.contexts.rodinEditorScope"
            name="RodinEditor Scope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.systerel.editor.addSibling"
            contextId="fr.systerel.editor.contexts.rodinEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="fr.systerel.editor.addChild"
            contextId="fr.systerel.editor.contexts.rodinEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+N">
      </key>
   </extension>

</plugin>
