<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.systerel.editor.internal.editors.RodinEditor"
            default="true"
            icon="icons/full/clcl16/b_file.gif"
            id="fr.systerel.editor.editors.RodinEditor"
            name="%editorName">
         <contentTypeBinding
               contentTypeId="org.eventb.core.contextFile">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eventb.core.machineFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.internal.handlers.AddChildHandler"
            commandId="fr.systerel.editor.addChild">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AddSiblingHandler"
            commandId="fr.systerel.editor.addSibling">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.MoveUpHandler"
            commandId="org.eclipse.ui.edit.text.moveLineUp">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.MoveDownHandler"
            commandId="org.eclipse.ui.edit.text.moveLineDown">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.ShowCustomizePreferences"
            commandId="fr.systerel.editor.rename.customizePrefixes">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoActionLabelRenaming"
            commandId="fr.systerel.editor.rename.action">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoGuardLabelRenaming"
            commandId="fr.systerel.editor.rename.guard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoInvariantLabelRenaming"
            commandId="fr.systerel.editor.rename.invariant">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoAxiomLabelRenaming"
            commandId="fr.systerel.editor.rename.axiom">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SelectUpHandler"
            commandId="org.eclipse.ui.edit.text.select.lineUp">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SelectDownHandler"
            commandId="org.eclipse.ui.edit.text.select.lineDown">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AbortHandler"
            commandId="fr.systerel.editor.abortEditionFreeSelection">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.systerel.editor.editionCategory"
            name="Model Edition Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addChild"
            name="Add Child Command">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addSibling"
            name="Add Sibling">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.moveUp"
            name="Move Up">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.moveDown"
            name="Move Down">
      </command>
      <category
            id="fr.systerel.editor.renamingCommandsCategory"
            name="Renaming Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.action"
            name="Automatic Action Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.guard"
            name="Automatic Guard Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.invariant"
            name="Automatic Invariant Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.axiom"
            name="Automatic Axiom Labelling">
      </command>
      <command
            id="fr.systerel.editor.rename.customizePrefixes"
            name="Customize prefixes...">
      </command>
      <command
            id="fr.systerel.editor.abortEditionFreeSelection"
            name="Abort edition and free selected items">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.editor.editors.RodinEditor?before=additions">
         <command
               commandId="fr.systerel.editor.addChild"
               label="Add Child"
               style="push">
         </command>
         <command
               commandId="fr.systerel.editor.addSibling"
               label="Add Sibling"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <separator
               name="fr.systerel.editor.MovementSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineUp"
               label="Move Up"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineDown"
               label="Move Down"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Rename">
            <command
                  commandId="fr.systerel.editor.rename.action"
                  label="Automatic Action Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.guard"
                  label="Automatic Guard Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.invariant"
                  label="Automatic Invariant Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.axiom"
                  label="Automatic Axiom Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorContextScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="fr.systerel.editor.renameMenuSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="fr.systerel.editor.rename.customizePrefixes"
                  label="Customize prefixes..."
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="fr.systerel.editor.editors.RodinEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.systerel.editor.addSibling"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="fr.systerel.editor.addChild"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+N">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.select.lineUp"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_UP">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.select.lineDown"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_DOWN">
      </key>
      <key
            commandId="fr.systerel.editor.abortEditionFreeSelection"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ESC">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="A default rodin editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            name="Default Rodin Editor Context">
      </context>
      <context
            description="A machine editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorMachineScope"
            name="Machine Rodin Editor Scope (Editor Context)">
      </context>
      <context
            description="A context editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorMachineScope"
            name="Context Rodin Editor Scope (Editor Context)">
      </context>
   </extension>

</plugin>
