<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.systerel.editor.editors.RodinEditor"
            default="true"
            extensions="bum, buc"
            icon="icons/full/clcl16/b_file.gif"
            id="fr.systerel.editor.editors.RodinEditor"
            name="%editorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="fr.systerel.editor.editors.RodinEditor.editorText">
               </equals>
            </with></activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="fr.systerel.editor.editors.RodinEditor.editorText">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.CutHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="fr.systerel.editor.editors.RodinEditor.editorText">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.handlers.AddChildHandler"
            commandId="fr.systerel.editor.addChild">
      </handler>
      <handler
            class="fr.systerel.editor.handlers.AddSiblingHandler"
            commandId="fr.systerel.editor.addSibling">
      </handler>
      <handler
            class="fr.systerel.editor.handlers.RemoveHandler"
            commandId="fr.systerel.editor.removeElement">
      </handler>
      <handler
            class="fr.systerel.editor.handlers.MoveUpHandler"
            commandId="fr.systerel.editor.moveUp">
      </handler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.rodinp.core.emf.lightcore.RodinResourceFactory"
            type="ebuc">
      </parser>
      <parser
            class="org.rodinp.core.emf.lightcore.RodinResourceFactory"
            type="ebum">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.systerel.editor.editionCategory"
            name="Model Edition Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addChild"
            name="Add Child Command">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.removeElement"
            name="Remove">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addSibling"
            name="Add Sibling">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.moveUp"
            name="Move Up">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.editor.editors.RodinEditor?before=additions">
         <command
               commandId="fr.systerel.editor.addChild"
               label="Add Child"
               style="push">
         </command>
         <command
               commandId="fr.systerel.editor.addSibling"
               label="Add Sibling"
               style="push">
         </command>
         <command
               commandId="fr.systerel.editor.removeElement"
               label="Remove"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="The context for the Rodin Editor. Used by commands to find handlers."
            id="fr.systerel.editor.contexts.rodinEditorScope"
            name="RodinEditor Scope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.systerel.editor.addSibling"
            contextId="fr.systerel.editor.contexts.rodinEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
      <key
            commandId="fr.systerel.editor.addChild"
            contextId="fr.systerel.editor.contexts.rodinEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+N">
      </key>
      <key
            commandId="fr.systerel.editor.removeElement"
            contextId="fr.systerel.editor.contexts.rodinEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+DEL">
      </key>
      <key
            commandId="fr.systerel.editor.moveUp"
            contextId="fr.systerel.editor.contexts.rodinEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
      </key>
   </extension>

</plugin>
