<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fileAssociations" name="%fileAssociationsName" schema="schema/fileAssociations.exsd"/>
   <extension-point id="internalElementTypes" name="%internalElementTypesName" schema="schema/internalElementTypes.exsd"/>
   <extension-point id="autoTools" name="%autoToolsName" schema="schema/autoTools.exsd"/>
   <extension-point id="attributeTypes" name="%attributeTypesName" schema="schema/attributeTypes.exsd"/>
   <extension-point id="conversions" name="%conversionsName" schema="schema/conversions.exsd"/>
   <extension-point id="fileElementVersions" name="%fileElementVersionsName" schema="schema/fileElementVersions.exsd"/>
<!--   <extension-point id="elementSpecs" name="%elementSpecsName" schema="schema/elementSpecs.exsd"/>
   <extension-point id="elementRules" name="%elementRulesName" schema="schema/elementRules.exsd"/>
-->
   <extension-point id="indexers" name="%indexersName" schema="schema/indexers.exsd"/>
   <extension-point id="occurrenceKinds" name="%occurrenceKindsName" schema="schema/occurrenceKinds.exsd"/>

   <extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
        base-type="org.eclipse.core.runtime.xml"
        default-charset="UTF-8"
        id="org.rodinp.core.rodin"
        name="%rodinContentTypeName"
        priority="high">
		</content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rodinp.core.IOpenable"
            class="org.rodinp.internal.core.RodinElementAdapterFactory">
         <adapter type="org.eclipse.core.resources.IResource"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.rodinp.internal.core.ResourceAdapterFactory">
         <adapter type="org.rodinp.core.IRodinElement"/>
      </factory>
      <factory
            adaptableType="org.rodinp.core.IRodinProject"
            class="org.rodinp.internal.core.RodinProjectAdapterFactory">
         <adapter type="org.eclipse.core.resources.IProject"/>
      </factory>
   </extension>
   <extension
         id="rodinnature"
         name="%rodinNatureName"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.rodinp.internal.core.RodinProjectNature"/>
      </runtime>
      <builder id="org.rodinp.core.rodinbuilder"/>
	  <options allowLinking="false"/>
   <content-type id="org.rodinp.core.rodin"/>
   </extension>
   <extension
         id="rodinbuilder"
         name="%rodinBuilderName"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.rodinp.internal.core.builder.RodinBuilder"/>
      </builder>
   </extension>
   <extension
         id="problem"
         name="%rodinProblemMarkerName"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
      <attribute name="code"/>
      <attribute name="arguments"/>
      <attribute name="element"/>
      <attribute name="attributeId"/>
      <attribute name="charStart"/>
      <attribute name="charEnd"/>
   </extension>
   <extension
         id="buildProblem"
         name="%rodinBuildProblemMarkerName"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
      <attribute name="cycleDetected"/>
   </extension>
</plugin>
