<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.core.tests.pom.TracingReasoner"
            id="tracingReasoner"
            name="Tracing Reasoner">
      </reasoner>
      <reasoner
            class="org.eventb.core.tests.pom.ReasonerV2"
            id="reasonerV2"
            name="Reasoner V2">
      </reasoner>
      <reasoner
            class="org.eventb.core.tests.pom.PSUpdateTests$Signature"
            id="signature"
            name="Signature Reasoner">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            auto="true"
            class="org.eventb.core.tests.pom.TracingReasoner$TracingTactic"
            id="tracingTactic"
            name="Tracing Tactic">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.pogModuleTypes">
      <filterType
            class="org.eventb.core.tests.pog.modules.Unloadable"
            id="unloadableModule"
            name="Unloadable Module"
            parent="org.eventb.core.tests.inexistent">
      </filterType>
      <filterType
            class="org.eventb.core.tests.pog.modules.MachineEventActionFISFilterModule"
            id="machineEventActionFISFilterModule"
            name="Event Action FIS Filter Module"
            parent="org.eventb.core.fwdMachineEventActionModule">
      </filterType>
      <filterType
            class="org.eventb.core.tests.pog.modules.MachineTheoremFilterModule"
            id="machineTheoremFilterModule"
            name="Theorem Filter Module"
            parent="org.eventb.core.fwdMachineInvariantModule">
      </filterType>
   </extension>
   <extension
         point="org.eventb.core.configurations">
      <configuration
            id="filter"
            name="Filter Test Configuration">
         <config
               id="org.eventb.core.fwd">
         </config>
         <pogModule
               id="org.eventb.core.tests.machineEventActionFISFilterModule">
         </pogModule>
         <pogModule
               id="org.eventb.core.tests.machineTheoremFilterModule">
         </pogModule>
      </configuration>
      <configuration
            id="invalidConfiguration"
            name="Broken context SC">
         <config
               id="org.eventb.core.fwd">
         </config>
         <scModule
               id="org.eventb.core.tests.unloadableSCRootModule">
         </scModule>
      </configuration>
   </extension>
   <extension
         point="org.eventb.core.scModuleTypes">
      <rootType
            class="org.eventb.core.tests.sc.modules.Unloadable"
            id="org.eventb.core.tests.unloadableSCRootModule"
            input="org.eventb.core.contextFile"
            name="Unloadable SC root module">
      </rootType>
   </extension>
   <extension
         point="org.eventb.core.formulaExtensionProviders">
      <formulaExtensionProvider
            class="org.eventb.core.tests.extension.PrimeFormulaExtensionProvider"
            id="org.eventb.core.tests.primeFormulaExtensionProvider">
      </formulaExtensionProvider>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            auto="true"
            class="org.eventb.core.tests.preferences.TestingAutoTactics$SimpleTestAutoTac"
            id="simple"
            name="Simple Auto Tactic">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticCombinators">
      <combinator
            boundArity="false"
            class="org.eventb.core.tests.preferences.TestingAutoTactics$CombTestAutoTac"
            id="combinator"
            minArity="1"
            name="Test Combinator">
      </combinator>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticParameterizers">
      <parameterizer
            class="org.eventb.core.tests.preferences.TestingAutoTactics$ParamerizerTestAutoTac"
            id="param"
            name="Parameterized Auto Tactic">
         <tacticParameter
               default="true"
               label="b"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="314"
               label="i"
               type="Integer">
         </tacticParameter>
         <tacticParameter
               default="500000"
               label="l"
               type="Long">
         </tacticParameter>
         <tacticParameter
               default="&quot;def&quot;"
               label="s"
               type="String">
         </tacticParameter>
      </parameterizer>
   </extension>
   <extension
         point="org.eventb.core.tacticProfiles">
      <tacticProfile
            class="org.eventb.core.tests.preferences.TestingAutoTactics$TestProfile1"
            name="Test Profile #1">
      </tacticProfile>
      <tacticProfile
            class="org.eventb.core.tests.preferences.TestingAutoTactics$TestProfile2"
            name="Test Profile #2">
      </tacticProfile>
      <tacticProfile
            class="org.eventb.core.tests.preferences.TestingAutoTactics$TestProfile3"
            name="Test Profile #3">
      </tacticProfile>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="factoryName"
            kind="string"
            name="Factory Name for Tests">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.core.contextFile">
         <childType
               typeId="org.eventb.core.lang">
         </childType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.core.lang">
         <attributeType
               typeId="org.eventb.core.tests.factoryName">
         </attributeType>
      </relationship>
   </extension>

</plugin>
