<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.core.seqprover.arith.ArithRewrites"
            id="org.eventb.core.seqprover.arithmetic"
            name="%arithRewritesName">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.pomTactics">
      <tactic
            id="org.eventb.core.seqprover.arith.arithRewrites">
      </tactic>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="org.eventb.core.seqprover.arith.ArithRewriteTac"
            id="arithRewrites"
            name="%arithRewriteTacName">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.postTactics">
      <tactic
            id="org.eventb.core.seqprover.arith.arithRewrites">
      </tactic>
   </extension>

</plugin>
