<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="scStateTypes" name="%scStateTypes" schema="schema/scStateTypes.exsd"/>
   <extension-point id="pogStateTypes" name="%pogStateTypes" schema="schema/pogStateTypes.exsd"/>
   <extension-point id="scModules" name="%scModules" schema="schema/scModules.exsd"/>
   <extension-point id="pogModules" name="%pogModules" schema="schema/pogModules.exsd"/>
   <extension-point id="configurations" name="%configurations" schema="schema/configurations.exsd"/>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bum"
            id="machineFile"
            name="%eventBMachineFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="buc"
            id="contextFile"
            name="%eventBContextFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bcm"
            id="scMachineFile"
            name="%eventBSCMachineFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bcc"
            id="scContextFile"
            name="%eventBSCContextFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bpo"
            id="poFile"
            name="%eventBpoFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bpr"
            id="prFile"
            name="%eventBprFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bps"
            id="psFile"
            name="%eventBpsFile"
            priority="normal"/>
   </extension>
   <extension
         point="org.rodinp.core.fileElementTypes">
      <fileElementType
            class="org.eventb.core.basis.MachineFile"
            content-type-id="org.eventb.core.machineFile"
            id="machineFile"
            name="%eventBMachineFile"/>
      <fileElementType
            class="org.eventb.core.basis.ContextFile"
            content-type-id="org.eventb.core.contextFile"
            id="contextFile"
            name="%eventBContextFile"/>
      <fileElementType
            class="org.eventb.core.basis.SCMachineFile"
            content-type-id="org.eventb.core.scMachineFile"
            id="scMachineFile"
            name="%eventBSCMachineFile"/>
      <fileElementType
            class="org.eventb.core.basis.SCContextFile"
            content-type-id="org.eventb.core.scContextFile"
            id="scContextFile"
            name="%eventBSCContextFile"/>
      <fileElementType
            class="org.eventb.core.basis.POFile"
            content-type-id="org.eventb.core.poFile"
            id="poFile"
            name="%eventBpoFile"/>
      <fileElementType
            class="org.eventb.core.basis.PRFile"
            content-type-id="org.eventb.core.prFile"
            id="prFile"
            name="%eventBprFile"/>
      <fileElementType
            class="org.eventb.core.basis.PSFile"
            content-type-id="org.eventb.core.psFile"
            id="psFile"
            name="%eventBpsFile"/>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.core.basis.CarrierSet"
            id="carrierSet"
            name="%eventBCarrierSet"/>
      <internalElementType
            class="org.eventb.core.basis.Constant"
            id="constant"
            name="%eventBConstant"/>
      <internalElementType
            class="org.eventb.core.basis.Axiom"
            id="axiom"
            name="%eventBAxiom"/>
      <internalElementType
            class="org.eventb.core.basis.Theorem"
            id="theorem"
            name="%eventBTheorem"/>
      <internalElementType
            class="org.eventb.core.basis.SeesContext"
            id="seesContext"
            name="%eventBSeesContext"/>
      <internalElementType
            class="org.eventb.core.basis.ExtendsContext"
            id="extendsContext"
            name="%eventBExtendsContext"/>
      <internalElementType
            class="org.eventb.core.basis.Variable"
            id="variable"
            name="%eventBVariable"/>
      <internalElementType
            class="org.eventb.core.basis.Invariant"
            id="invariant"
            name="%eventBInvariant"/>
      <internalElementType
            class="org.eventb.core.basis.Event"
            id="event"
            name="%eventBEvent"/>
      <internalElementType
            class="org.eventb.core.basis.RefinesMachine"
            id="refinesMachine"
            name="%eventBRefinesMachine"/>
      <internalElementType
            class="org.eventb.core.basis.SCVariable"
            id="scVariable"
            name="%eventBscVariable"/>
      <internalElementType
            class="org.eventb.core.basis.SCAxiom"
            id="scAxiom"
            name="%eventBscAxiom"/>
      <internalElementType
            class="org.eventb.core.basis.SCTheorem"
            id="scTheorem"
            name="%eventBscTheorem"/>
      <internalElementType
            class="org.eventb.core.basis.POIdentifier"
            id="poIdentifier"
            name="%eventBpoIdentifier"/>
      <internalElementType
            class="org.eventb.core.basis.SCInvariant"
            id="scInvariant"
            name="%eventBscInvariant"/>
      <internalElementType
            class="org.eventb.core.basis.POPredicateSet"
            id="poPredicateSet"
            name="%eventBpoPredicateSet"/>
      <internalElementType
            class="org.eventb.core.basis.POPredicate"
            id="poPredicate"
            name="%eventBpoPredicate"/>
      <internalElementType
            class="org.eventb.core.basis.POSequent"
            id="poSequent"
            name="%eventBpoSequent"/>
      <internalElementType
            class="org.eventb.core.basis.Witness"
            id="witness"
            name="%eventBWitness"/>
      <internalElementType
            class="org.eventb.core.basis.POSource"
            id="poSource"
            name="%eventBpoSource"/>
      <internalElementType
            class="org.eventb.core.basis.POSelectionHint"
            id="poSelHint"
            name="%eventBpoSelectionHint"/>
      <internalElementType
            class="org.eventb.core.basis.Guard"
            id="guard"
            name="%eventBGuard"/>
      <internalElementType
            class="org.eventb.core.basis.Action"
            id="action"
            name="%eventBAction"/>
      <internalElementType
            class="org.eventb.core.basis.RefinesEvent"
            id="refinesEvent"
            name="%eventBRefinesEvent"/>
      <internalElementType
            class="org.eventb.core.basis.Variant"
            id="variant"
            name="%eventBVariant"/>
      <internalElementType
            class="org.eventb.core.basis.SCAction"
            id="scAction"
            name="%eventBscAction"/>
      <internalElementType
            class="org.eventb.core.basis.SCEvent"
            id="scEvent"
            name="%eventBscEvent"/>
      <internalElementType
            class="org.eventb.core.basis.SCGuard"
            id="scGuard"
            name="%eventBscGuard"/>
      <internalElementType
            class="org.eventb.core.basis.SCConstant"
            id="scConstant"
            name="%eventBscConstant"/>
      <internalElementType
            class="org.eventb.core.basis.SCCarrierSet"
            id="scCarrierSet"
            name="%eventBscCarrierSet"/>
      <internalElementType
            class="org.eventb.core.basis.SCInternalContext"
            id="scInternalContext"
            name="%eventBscInternalContext"/>
      <internalElementType
            class="org.eventb.core.basis.SCRefinesEvent"
            id="scRefinesEvent"
            name="%eventBscRefinesEvent"/>
      <internalElementType
            class="org.eventb.core.basis.SCRefinesMachine"
            id="scRefinesMachine"
            name="%eventBscRefinesMachine"/>
      <internalElementType
            class="org.eventb.core.basis.SCVariant"
            id="scVariant"
            name="%eventBscVariant"/>
      <internalElementType
            class="org.eventb.core.basis.SCWitness"
            id="scWitness"
            name="%eventBscWitness"/>
      <internalElementType
            class="org.eventb.core.basis.PRProof"
            id="prProof"
            name="%eventBprProof"/>
      <internalElementType
            class="org.eventb.core.basis.PRProofRule"
            id="prRule"
            name="%eventBprRule"/>
      <internalElementType
            class="org.eventb.core.basis.PRIdentifier"
            id="prIdent"
            name="%eventBprIdent"/>
      <internalElementType
            class="org.eventb.core.basis.PRStoredPred"
            id="prPred"
            name="%eventBprPred"/>
      <internalElementType
            class="org.eventb.core.basis.PRStoredExpr"
            id="prExpr"
            name="%eventBprExpr"/>
      <internalElementType
            class="org.eventb.core.basis.PRRuleAntecedent"
            id="prAnte"
            name="%eventBprAnte"/>
      <internalElementType
            class="org.eventb.core.basis.PRHypAction"
            id="prHypAction"
            name="%eventBprHypAction"/>
      <internalElementType
            class="org.eventb.core.basis.PRPredRef"
            id="prPredRef"
            name="%eventBprPredRef"/>
      <internalElementType
            class="org.eventb.core.basis.PRStringInput"
            id="prString"
            name="%eventBprString"/>
      <internalElementType
            class="org.eventb.core.basis.PRExprRef"
            id="prExprRef"
            name="%eventBprExprRef"/>
      <internalElementType
            class="org.eventb.core.basis.PSStatus"
            id="psStatus"
            name="%eventBpsStatus"/>
   </extension>
   <extension
         point="org.rodinp.core.autoTools">
      <tool
            class="org.eventb.internal.core.sc.ContextStaticChecker"
            id="contextSC"
            name="%contextSCTool">
         <extractor
               class="org.eventb.internal.core.sc.ContextStaticChecker"
               name="%contextSCExtractor">
            <inputType id="org.eventb.core.contextFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.sc.MachineStaticChecker"
            id="machineSC"
            name="%machineSCTool">
         <extractor
               class="org.eventb.internal.core.sc.MachineStaticChecker"
               name="%machineSCExtractor">
            <inputType id="org.eventb.core.machineFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.pog.ContextPOGenerator"
            id="contextPOG"
            name="%contextPOG">
         <extractor
               class="org.eventb.internal.core.pog.ContextPOGenerator"
               name="%contextPOGExtractor">
            <inputType id="org.eventb.core.scContextFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.pog.MachinePOGenerator"
            id="machinePOG"
            name="%machinePOG">
         <extractor
               class="org.eventb.internal.core.pog.MachinePOGenerator"
               name="%machinePOGExtractor">
            <inputType id="org.eventb.core.scMachineFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.pom.AutoPOM"
            id="autoPOM"
            name="%autoPOM">
         <extractor
               class="org.eventb.internal.core.pom.AutoPOM"
               name="%autoPOMExtractor">
            <inputType id="org.eventb.core.poFile"/>
         </extractor>
      </tool>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="label"
            kind="string"
            name="%eventBLabelAttribute"/>
      <attributeType
            id="source"
            kind="handle"
            name="%eventBSourceAttribute"/>
      <attributeType
            id="forbidden"
            kind="boolean"
            name="%eventBForbiddenNameAttribute"/>
      <attributeType
            id="inherited"
            kind="boolean"
            name="%eventBInheritedEventAttribute"/>
      <attributeType
            id="identifier"
            kind="string"
            name="%eventBIdentifierAttribute"/>
      <attributeType
            id="poDesc"
            kind="string"
            name="%eventBpoDescriptionAttribute"/>
      <attributeType
            id="preserved"
            kind="boolean"
            name="%eventBpreservedVariableAttribute"/>
      <attributeType
            id="poRole"
            kind="string"
            name="%eventBpoSourceRoleAttribute"/>
      <attributeType
            id="comment"
            kind="string"
            name="%eventBCommentAttribute"/>
      <attributeType
            id="convergence"
            kind="integer"
            name="%eventBConvergenceAttribute"/>
      <attributeType
            id="signature"
            kind="integer"
            name="%eventBSignatureAttribute"/>
      <attributeType
            id="confidence"
            kind="integer"
            name="%eventBprConfidence"/>
      <attributeType
            id="psBroken"
            kind="boolean"
            name="%eventBpsBroken"/>
      <attributeType
            id="psManual"
            kind="boolean"
            name="%eventBpsManual"/>
      <attributeType
            id="type"
            kind="string"
            name="%eventBTypeAttribute"/>
      <attributeType
            id="parentSet"
            kind="handle"
            name="%eventBParentSetAttribute"/>
      <attributeType
            id="predicate"
            kind="string"
            name="%eventBPredicateAttribute"/>
      <attributeType
            id="assignment"
            kind="string"
            name="%eventBAssignmentAttribute"/>
      <attributeType
            id="target"
            kind="string"
            name="%eventBTargetAttribute"/>
      <attributeType
            id="expression"
            kind="string"
            name="%eventBExpressionAttribute"/>
      <attributeType
            id="scTarget"
            kind="handle"
            name="%eventBscTargetAttribute"/>
      <attributeType
            id="prGoal"
            kind="string"
            name="%eventBprGoal"/>
      <attributeType
            id="prHyps"
            kind="string"
            name="%eventBprHyps"/>
      <attributeType
            id="prInfHyps"
            kind="string"
            name="%eventBprInfHyps"/>
      <attributeType
            id="prDisplay"
            kind="string"
            name="%eventBprDisplay"/>
      <attributeType
            id="prRef"
            kind="string"
            name="%eventBprRef"/>
      <attributeType
            id="prSValue"
            kind="string"
            name="%eventBprSValue"/>
      <attributeType
            id="prFresh"
            kind="string"
            name="%eventBprFresh"/>
      <attributeType
            id="prSets"
            kind="string"
            name="%eventBprSets"/>
      <attributeType
            id="poSelHintFst"
            kind="handle"
            name="%eventBpoSelHintFst"/>
      <attributeType
            id="poSelHintSnd"
            kind="handle"
            name="%eventBpoSelHintSnd"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rodinp.core.IRodinProject"
            class="org.eventb.internal.core.EventBProjectAdapterFactory">
         <adapter type="org.eventb.core.IEventBProject"/>
      </factory>
      <factory
            adaptableType="org.eventb.core.IEventBProject"
            class="org.eventb.internal.core.RodinProjectAdapterFactory">
         <adapter type="org.rodinp.core.IRodinProject"/>
      </factory>
   </extension>
   <extension
         point="org.eventb.core.scStateTypes">
      <stateType
            class="org.eventb.core.sc.state.IAbstractEventInfo"
            id="abstractEventInfo"
            name="%abstractEventInfo"/>
      <stateType
            class="org.eventb.core.sc.state.IAbstractEventTable"
            id="abstractEventTable"
            name="%abstractEventTable"/>
      <stateType
            class="org.eventb.core.sc.state.IAbstractMachineInfo"
            id="abstractMachineInfo"
            name="%abstractMachineInfo"/>
      <stateType
            class="org.eventb.core.sc.state.IContextLabelSymbolTable"
            id="contextLabelSymbolTable"
            name="%contextLabelSymbolTable"/>
      <stateType
            class="org.eventb.core.sc.state.IContextPointerArray"
            id="contextPointerArray"
            name="%contextPointerArray"/>
      <stateType
            class="org.eventb.core.sc.state.IContextTable"
            id="contextTable"
            name="%contextTable"/>
      <stateType
            class="org.eventb.core.sc.state.ICurrentEvent"
            id="currentEvent"
            name="%currentEvent"/>
      <stateType
            class="org.eventb.core.sc.state.IEventLabelSymbolTable"
            id="eventLabelSymbolTable"
            name="%eventLabelSymbolTable"/>
      <stateType
            class="org.eventb.core.sc.state.IEventRefinesInfo"
            id="eventRefinesInfo"
            name="%eventRefinesInfo"/>
      <stateType
            class="org.eventb.core.sc.state.IIdentifierSymbolTable"
            id="identifierSymbolTable"
            name="%identifierSymbolTable"/>
      <stateType
            class="org.eventb.core.sc.state.IMachineLabelSymbolTable"
            id="machineLabelSymbolTable"
            name="%machineLabelSymbolTable"/>
      <stateType
            class="org.eventb.core.sc.state.IParsedFormula"
            id="parsedFormula"
            name="%parsedFormula"/>
      <stateType
            class="org.eventb.core.sc.state.IVariantInfo"
            id="variantInfo"
            name="%variantInfo"/>
   </extension>
   <extension
         point="org.eventb.core.pogStateTypes">
      <stateType
            class="org.eventb.core.pog.state.IAbstractEventActionTable"
            id="abstractEventActionTable"
            name="%abstractEventActionTable"/>
      <stateType
            class="org.eventb.core.pog.state.IAbstractEventGuardList"
            id="abstractEventGuardList"
            name="%abstractEventGuardList"/>
      <stateType
            class="org.eventb.core.pog.state.IAbstractEventGuardTable"
            id="abstractEventGuardTable"
            name="%abstractEventGuardTable"/>
      <stateType
            class="org.eventb.core.pog.state.IConcreteEventActionTable"
            id="concreteEventActionTable"
            name="%concreteEventActionTable"/>
      <stateType
            class="org.eventb.core.pog.state.IConcreteEventGuardTable"
            id="concreteEventGuardTable"
            name="%concreteEventGuardTable"/>
      <stateType
            class="org.eventb.core.pog.state.IContextAxiomTable"
            id="contextAxiomTable"
            name="%contextAxiomTable"/>
      <stateType
            class="org.eventb.core.pog.state.IContextHypothesisManager"
            id="contextHypothesisManager"
            name="%contextHypothesisManager"/>
      <stateType
            class="org.eventb.core.pog.state.IContextTheoremTable"
            id="contextTheoremTable"
            name="%contextTheoremTable"/>
      <stateType
            class="org.eventb.core.pog.state.IEventHypothesisManager"
            id="eventHypothesisManager"
            name="%eventHypothesisManager"/>
      <stateType
            class="org.eventb.core.pog.state.IMachineHypothesisManager"
            id="machineHypothesisManager"
            name="%machineHypothesisManager"/>
      <stateType
            class="org.eventb.core.pog.state.IMachineInvariantTable"
            id="machineInvariantTable"
            name="%machineInvariantTable"/>
      <stateType
            class="org.eventb.core.pog.state.IMachineTheoremTable"
            id="machineTheoremTable"
            name="%machineTheoremTable"/>
      <stateType
            class="org.eventb.core.pog.state.IMachineVariableTable"
            id="machineVariableTable"
            name="%machineVariableTable"/>
      <stateType
            class="org.eventb.core.pog.state.IMachineVariantInfo"
            id="machineVariantInfo"
            name="%machineVariantInfo"/>
      <stateType
            class="org.eventb.core.pog.state.IEventWitnessTable"
            id="eventWitnessTable"
            name="%eventWitnessTable"/>
      <stateType
            class="org.eventb.internal.core.pog.MachineInfo"
            id="machineInfo"
            name="%machineInfo"/>
   </extension>

</plugin>
