<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bum"
            id="machine"
            name="%eventBMachine"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="buc"
            id="context"
            name="%eventBContext"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bcm"
            id="scMachine"
            name="%eventBSCMachine"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bcc"
            id="scContext"
            name="%eventBSCContext"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bpo"
            id="poFile"
            name="%eventBpoFile"
            priority="normal"/>
   </extension>
   <extension
         point="org.rodinp.core.fileElementTypes">
      <fileElementType
            class="org.eventb.core.basis.Machine"
            content-type-id="org.eventb.core.machine"
            id="machine"
            name="%eventBMachine"/>
      <fileElementType
            class="org.eventb.core.basis.Context"
            content-type-id="org.eventb.core.context"
            id="context"
            name="%eventBContext"/>
      <fileElementType
            class="org.eventb.core.basis.SCMachine"
            content-type-id="org.eventb.core.scMachine"
            id="scMachine"
            name="%eventBSCMachine"/>
      <fileElementType
            class="org.eventb.core.basis.SCContext"
            content-type-id="org.eventb.core.scContext"
            id="scContext"
            name="%eventBSCContext"/>
      <fileElementType
            class="org.eventb.core.basis.POFile"
            content-type-id="org.eventb.core.poFile"
            id="org.eventb.core.fileElementType1"
            name="%eventBpoFile"/>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.core.basis.CarrierSet"
            id="carrierSet"
            name="%eventBCarrierSet"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Constant"
            id="constant"
            name="%eventBConstant"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Axiom"
            id="axiom"
            name="%eventBAxiom"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Theorem"
            id="theorem"
            name="%eventBTheorem"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Variable"
            id="variable"
            name="%eventBVariable"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Invariant"
            id="invariant"
            name="%eventBInvariant"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Event"
            id="event"
            name="%eventBEvent"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Guard"
            id="guard"
            name="%eventBGuard"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Action"
            id="action"
            name="%eventBAction"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.POIdentifier"
            id="poIdentifier"
            name="%eventBpoIdentifier"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.SCAxiomSet"
            id="scAxiomSet"
            name="%eventBscAxiomSet"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.SCTheoremSet"
            id="scTheoremSet"
            name="%eventBscTheoremSet"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.POPredicateSet"
            id="poPredicateSet"
            name="%eventBpoPredicateSet"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.POPredicate"
            id="poPredicate"
            name="%eventBpoPredicate"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.POModifiedPredicate"
            id="poModifiedPredicate"
            name="%eventBpoModifiedPredicate"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.POSequent"
            id="poSequent"
            name="%eventBpoSequent"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.POHypothesis"
            id="poHypothesis"
            name="%eventBpoHypothesis"
            named="true"/>
      <internalElementType
            class="org.eventb.core.basis.Sees"
            id="sees"
            name="%eventBSees"
            named="true"/>
   </extension>

</plugin>
