<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bum"
            id="machineFile"
            name="%eventBMachineFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="buc"
            id="contextFile"
            name="%eventBContextFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bcm"
            id="scMachineFile"
            name="%eventBSCMachineFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bcc"
            id="scContextFile"
            name="%eventBSCContextFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bpo"
            id="poFile"
            name="%eventBpoFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bpr"
            id="prFile"
            name="%eventBprFile"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="bps"
            id="psFile"
            name="%eventBpsFile"
            priority="normal"/>
   </extension>
   <extension
         point="org.rodinp.core.fileElementTypes">
      <fileElementType
            class="org.eventb.core.basis.MachineFile"
            content-type-id="org.eventb.core.machineFile"
            id="machineFile"
            name="%eventBMachineFile"/>
      <fileElementType
            class="org.eventb.core.basis.ContextFile"
            content-type-id="org.eventb.core.contextFile"
            id="contextFile"
            name="%eventBContextFile"/>
      <fileElementType
            class="org.eventb.core.basis.SCMachineFile"
            content-type-id="org.eventb.core.scMachineFile"
            id="scMachineFile"
            name="%eventBSCMachineFile"/>
      <fileElementType
            class="org.eventb.core.basis.SCContextFile"
            content-type-id="org.eventb.core.scContextFile"
            id="scContextFile"
            name="%eventBSCContextFile"/>
      <fileElementType
            class="org.eventb.core.basis.POFile"
            content-type-id="org.eventb.core.poFile"
            id="poFile"
            name="%eventBpoFile"/>
      <fileElementType
            class="org.eventb.core.basis.PRFile"
            content-type-id="org.eventb.core.prFile"
            id="prFile"
            name="%eventBprFile"/>
      <fileElementType
            class="org.eventb.core.basis.PSFile"
            content-type-id="org.eventb.core.psFile"
            id="psFile"
            name="%eventBpsFile"/>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.core.basis.CarrierSet"
            id="carrierSet"
            name="%eventBCarrierSet"/>
      <internalElementType
            class="org.eventb.core.basis.Constant"
            id="constant"
            name="%eventBConstant"/>
      <internalElementType
            class="org.eventb.core.basis.Axiom"
            id="axiom"
            name="%eventBAxiom"/>
      <internalElementType
            class="org.eventb.core.basis.Theorem"
            id="theorem"
            name="%eventBTheorem"/>
      <internalElementType
            class="org.eventb.core.basis.SeesContext"
            id="seesContext"
            name="%eventBSeesContext"/>
      <internalElementType
            class="org.eventb.core.basis.ExtendsContext"
            id="extendsContext"
            name="%eventBExtendsContext"/>
      <internalElementType
            class="org.eventb.core.basis.Variable"
            id="variable"
            name="%eventBVariable"/>
      <internalElementType
            class="org.eventb.core.basis.Invariant"
            id="invariant"
            name="%eventBInvariant"/>
      <internalElementType
            class="org.eventb.core.basis.Event"
            id="event"
            name="%eventBEvent"/>
      <internalElementType
            class="org.eventb.core.basis.RefinesMachine"
            id="refinesMachine"
            name="%eventBRefinesMachine"/>
      <internalElementType
            class="org.eventb.core.basis.SCVariable"
            id="scVariable"
            name="%eventBscVariable"/>
      <internalElementType
            class="org.eventb.core.basis.SCAxiom"
            id="scAxiom"
            name="%eventBscAxiom"/>
      <internalElementType
            class="org.eventb.core.basis.SCTheorem"
            id="scTheorem"
            name="%eventBscTheorem"/>
      <internalElementType
            class="org.eventb.core.basis.POIdentifier"
            id="poIdentifier"
            name="%eventBpoIdentifier"/>
      <internalElementType
            class="org.eventb.core.basis.SCInvariant"
            id="scInvariant"
            name="%eventBscInvariant"/>
      <internalElementType
            class="org.eventb.core.basis.POPredicateSet"
            id="poPredicateSet"
            name="%eventBpoPredicateSet"/>
      <internalElementType
            class="org.eventb.core.basis.POPredicate"
            id="poPredicate"
            name="%eventBpoPredicate"/>
      <internalElementType
            class="org.eventb.core.basis.POSequent"
            id="poSequent"
            name="%eventBpoSequent"/>
      <internalElementType
            class="org.eventb.core.basis.Witness"
            id="witness"
            name="%eventBWitness"/>
      <internalElementType
            class="org.eventb.core.basis.PRProof"
            id="prProof"
            name="%eventBprProof"/>
      <internalElementType
            class="org.eventb.core.basis.POSource"
            id="poSource"
            name="%eventBpoSource"/>
      <internalElementType
            class="org.eventb.core.basis.POHint"
            id="poHint"
            name="%eventBpoHint"/>
      <internalElementType
            class="org.eventb.core.basis.Guard"
            id="guard"
            name="%eventBGuard"/>
      <internalElementType
            class="org.eventb.core.basis.Action"
            id="action"
            name="%eventBAction"/>
      <internalElementType
            class="org.eventb.core.basis.RefinesEvent"
            id="refinesEvent"
            name="%eventBRefinesEvent"/>
      <internalElementType
            class="org.eventb.core.basis.Variant"
            id="variant"
            name="%eventBVariant"/>
      <internalElementType
            class="org.eventb.core.basis.SCAction"
            id="scAction"
            name="%eventBscAction"/>
      <internalElementType
            class="org.eventb.core.basis.SCEvent"
            id="scEvent"
            name="%eventBscEvent"/>
      <internalElementType
            class="org.eventb.core.basis.SCGuard"
            id="scGuard"
            name="%eventBscGuard"/>
      <internalElementType
            class="org.eventb.core.basis.SCConstant"
            id="scConstant"
            name="%eventBscConstant"/>
      <internalElementType
            class="org.eventb.core.basis.SCCarrierSet"
            id="scCarrierSet"
            name="%eventBscCarrierSet"/>
      <internalElementType
            class="org.eventb.core.basis.SCInternalContext"
            id="scInternalContext"
            name="%eventBscInternalContext"/>
      <internalElementType
            class="org.eventb.core.basis.SCRefinesEvent"
            id="scRefinesEvent"
            name="%eventBscRefinesEvent"/>
      <internalElementType
            class="org.eventb.core.basis.SCRefinesMachine"
            id="scRefinesMachine"
            name="%eventBscRefinesMachine"/>
      <internalElementType
            class="org.eventb.core.basis.SCVariant"
            id="scVariant"
            name="%eventBscVariant"/>
      <internalElementType
            class="org.eventb.core.basis.SCWitness"
            id="scWitness"
            name="%eventBscWitness"/>
      <internalElementType
            class="org.eventb.core.basis.PRProofSkelNode"
            id="prProofSkelNode"
            name="%eventBprProofSkelNode"/>
      <internalElementType
            class="org.eventb.core.basis.PRProofRule"
            id="proofRule"
            name="%eventBprProofRule"/>
      <internalElementType
            class="org.eventb.core.basis.PRStoredPred"
            id="prStoredPred"
            name="%eventBprStoredPred"/>
      <internalElementType
            class="org.eventb.core.basis.PRReasonerInput"
            id="prReasonerInput"
            name="%eventBprReasonerInput"/>
      <internalElementType
            class="org.eventb.core.basis.PRTypeEnvironment"
            id="prTypeEnv"
            name="%eventBprTypeEnv"/>
      <internalElementType
            class="org.eventb.core.basis.PRReasonerAntecedent"
            id="prReasonerAntecedent"
            name="%eventBprReasonerAntecedent"/>
      <internalElementType
            class="org.eventb.core.basis.PRStoredExpr"
            id="prStoredExpr"
            name="%eventBprStoredExpr"/>
      <internalElementType
            class="org.eventb.core.basis.PRHypAction"
            id="prHypAction"
            name="%eventBprHypAction"/>
      <internalElementType
            class="org.eventb.core.basis.PSstatus"
            id="status"
            name="%eventBpsStatus"/>
      <internalElementType
            class="org.eventb.core.basis.PRIdentifier"
            id="prIdentifier"
            name="%eventBprIdentifier"/>
      <internalElementType
            class="org.eventb.core.basis.PRProofStore"
            id="prProofStore"
            name="%eventBprProofStore"/>
      <internalElementType
            class="org.eventb.core.basis.PRPredRef"
            id="prPredRef"
            name="%eventBprPredRef"/>
      <internalElementType
            class="org.eventb.core.basis.PRExprRef"
            id="prExprRef"
            name="%eventBprExprRef"/>
      <internalElementType
            class="org.eventb.core.basis.PRStringInput"
            id="prStrInp"
            name="%eventBprStrInp"/>            
   </extension>
   <extension
         point="org.rodinp.core.autoTools">
      <tool
            class="org.eventb.internal.core.sc.ContextStaticChecker"
            id="contextSC"
            name="%contextSCTool">
         <extractor
               class="org.eventb.internal.core.sc.ContextStaticChecker"
               id="contextSC"
               name="%contextSCExtractor">
            <inputType id="org.eventb.core.contextFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.sc.MachineStaticChecker"
            id="machineSC"
            name="%machineSCTool">
         <extractor
               class="org.eventb.internal.core.sc.MachineStaticChecker"
               id="machineSC"
               name="%machineSCExtractor">
            <inputType id="org.eventb.core.machineFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.pog.ContextPOGenerator"
            id="contextPOG"
            name="%contextPOG">
         <extractor
               class="org.eventb.internal.core.pog.ContextPOGenerator"
               id="contextPOG"
               name="%contextPOGExtractor">
            <inputType id="org.eventb.core.scContextFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.pog.MachinePOGenerator"
            id="machinePOG"
            name="%machinePOG">
         <extractor
               class="org.eventb.internal.core.pog.MachinePOGenerator"
               id="machinePOG"
               name="%machinePOGExtractor">
            <inputType id="org.eventb.core.scMachineFile"/>
         </extractor>
      </tool>
      <tool
            class="org.eventb.internal.core.pom.AutoPOM"
            id="autoPOM"
            name="%autoPOM">
         <extractor
               class="org.eventb.internal.core.pom.AutoPOM"
               id="autoPOM"
               name="%autoPOMExtractor">
            <inputType id="org.eventb.core.poFile"/>
         </extractor>
      </tool>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="label"
            kind="string"
            name="%eventBLabelAttribute"/>
      <attributeType
            id="source"
            kind="handle"
            name="%eventBSourceAttribute"/>
      <attributeType
            id="forbidden"
            kind="boolean"
            name="%eventBForbiddenNameAttribute"/>
      <attributeType
            id="inherited"
            kind="boolean"
            name="%eventBInheritedEventAttribute"/>
      <attributeType
            id="identifier"
            kind="string"
            name="%eventBIdentifierAttribute"/>
      <attributeType
            id="poDesc"
            kind="string"
            name="%eventBpoDescriptionAttribute"/>
      <attributeType
            id="preserved"
            kind="boolean"
            name="%eventBpreservedVariableAttribute"/>
      <attributeType
            id="poRole"
            kind="string"
            name="%eventBpoSourceRoleAttribute"/>
      <attributeType
            id="comment"
            kind="string"
            name="%eventBCommentAttribute"/>
      <attributeType
            id="convergence"
            kind="integer"
            name="%eventBConvergenceAttribute"/>
      <attributeType
            id="signature"
            kind="integer"
            name="%eventBSignatureAttribute"/>
      <attributeType
            id="confidence"
            kind="integer"
            name="%eventBprConfidence"/>
      <attributeType
            id="psProofValid"
            kind="boolean"
            name="%eventBpsValidity"/>
      <attributeType
            id="psAutoProof"
            kind="boolean"
            name="%eventBpsAutoProof"/>
      <attributeType
            id="type"
            kind="string"
            name="%eventBTypeAttribute"/>
      <attributeType
            id="parentSet"
            kind="handle"
            name="%eventBParentSetAttribute"/>
      <attributeType
            id="predicate"
            kind="string"
            name="%eventBPredicateAttribute"/>
      <attributeType
            id="assignment"
            kind="string"
            name="%eventBAssignmentAttribute"/>
      <attributeType
            id="target"
            kind="string"
            name="%eventBTargetAttribute"/>
      <attributeType
            id="expression"
            kind="string"
            name="%eventBExpressionAttribute"/>
      <attributeType
            id="scTarget"
            kind="handle"
            name="%eventBscTargetAttribute"/>
      <attributeType
            id="prGoal"
            kind="string"
            name="%eventBprGoalAttribute"/>
      <attributeType
            id="prHyps"
            kind="string"
            name="%eventBprHypsAttribute"/>
      <attributeType
            id="prRuleDisplay"
            kind="string"
            name="%eventBprRuleDisplay"/>
      <attributeType
            id="prStoreRef"
            kind="string"
            name="%eventBprStoreRef"/>
      <attributeType
            id="prStrInp"
            kind="string"
            name="%eventBprStrInp"/>
      <attributeType
            id="prIntroducedFreeIdents"
            kind="string"
            name="%eventBprIntroducedFreeIdents"/>
   </extension>

</plugin>
