<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="reasoners" name="Reasoner" schema="schema/reasoners.exsd"/>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            id="cut"
            name="%cutName"
            class="org.eventb.core.prover.reasoners.Cut"/>
      <reasoner
            id="conjI"
            name="%conjIName"
            class="org.eventb.core.prover.reasoners.ConjI"/>
   </extension>

</plugin>
