<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point
         id="reasoners" 
         name="%point.reasoners" 
         schema="schema/reasoners.exsd"/>
   <extension-point id="autoTactics" name="%point.autoTactics" schema="schema/autoTactics.exsd"/>
   <extension-point id="tacticCombinators" name="%point.tacticCombinators" schema="schema/tacticCombinators.exsd"/>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.AllD"
            id="allD"
            name="%allDName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.AllmpD"
            id="allmpD"
            name="%allmpDName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.AllmtD"
            id="allmtD"
            name="%allmtDName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.AllI"
            id="allI"
            name="%allIName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.Conj"
            id="conj"
            name="%conjName"/>
       <reasoner
             class="org.eventb.internal.core.seqprover.eventbExtensions.Contr"
             id="contr"
             name="%contrName"/>
       <reasoner
             class="org.eventb.internal.core.seqprover.eventbExtensions.ContrHyps"
             id="contrHyps"
             name="%contrHypsName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.Cut"
            id="cut"
            name="%cutName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.DisjE"
            id="disjE"
            name="%disjEName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.DoCase"
            id="doCase"
            name="%doCaseName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.Eq"
            id="eq"
            name="%eqName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.ExE"
            id="exE"
            name="%exEName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.ExI"
            id="exI"
            name="%exIName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FalseHyp"
            id="falseHyp"
            name="%falseHypName"/>
      <reasoner
            class="org.eventb.core.seqprover.reasoners.Hyp"
            id="hyp"
            name="%hypName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.ImpE"
            id="impE"
            name="%impEName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.ImpCase"
            id="impCase"
            name="%impCaseName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.ImpI"
            id="impI"
            name="%impIName"/>
      <reasoner
            class="org.eventb.core.seqprover.reasoners.MngHyp"
            id="mngHyp"
            name="%mngHypName"/>
      <reasoner
            class="org.eventb.core.seqprover.reasoners.Review"
            id="review"
            name="%reviewName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.SimpleRewriter$RemoveNegation"
            id="removeNegation"
            name="%removeNegationName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.AutoRewritesL1"
            id="autoRewritesL1"
            name="%autoRewritesName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.SimpleRewriter$DisjToImpl"
            id="disjToImpl"
            name="%disjToImplName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.SimpleRewriter$Trivial"
            id="trivial"
            name="%trivialName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.SimpleRewriter$TypePred"
            id="typePred"
            name="%typePredName"/>
       <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.TrueGoal"
            id="trueGoal"
            name="%trueGoalName"/>
       <reasoner
             class="org.eventb.internal.core.seqprover.eventbExtensions.ExF"
             id="exF"
             name="%exFName"/>
       <reasoner
             class="org.eventb.internal.core.seqprover.eventbExtensions.ConjF"
             id="conjF"
             name="%conjFName"/>
       <reasoner
             class="org.eventb.internal.core.seqprover.eventbExtensions.IsFunGoal"
             id="isFunGoal"
             name="%isFunGoalName"/>
       <reasoner
             class="org.eventb.internal.core.seqprover.eventbExtensions.CardComparison"
             id="cardComparison"
             name="%cardComparisonName"/>
       <reasoner
             class="org.eventb.internal.core.seqprover.eventbExtensions.CardUpTo"
             id="cardUpTo"
             name="%cardUpToName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.AutoRewrites"
            id="autoRewrites"
            name="%autoRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.AutoRewritesL2"
            id="autoRewritesL2"
            name="%autoRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.TypeRewrites"
            id="typeRewrites"
            name="%typeRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.DoubleImplHypRewrites"
            id="doubleImplHypRewrites"
            name="%doubleImplHypRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FunOvr"
            id="funOvr"
            name="%funOvrName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.He"
            id="he"
            name="%heName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.ModusTollens"
            id="mt"
            name="%mtName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RemoveNegation"
            id="rn"
            name="%rnName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RemoveMembership"
            id="rm"
            name="%rmName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RemoveMembershipL1"
            id="rmL1"
            name="%rmName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RemoveInclusion"
            id="ri"
            name="%riName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.StrictInclusionRewrites"
            id="sir"
            name="%sirName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.InclusionSetMinusLeftRewrites"
            id="inclusionSetMinusLeftRewrites"
            name="%inclusionSetMinusLeftRewritesName"/>
       <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.InclusionSetMinusRightRewrites"
            id="inclusionSetMinusRightRewrites"
            name="%inclusionSetMinusRightRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RemoveInclusionUniversal"
            id="riUniversal"
            name="%riUniversalName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.AutoImpF"
            id="autoImpE"
            name="%autoImpEname"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.GeneralizedModusPonens"
            id="genMP"
            name="%genMPName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.GeneralizedModusPonensL1"
            id="genMPL1"
            name="%genMPName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.DisjunctionToImplicationRewrites"
            id="disjToImplRewrites"
            name="%disjToImplRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.NegEnum"
            id="negEnum"
            name="%negEnumName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.HypOr"
            id="hypOr"
            name="%hypOrName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.ImpAndRewrites"
            id="impAndRewrites"
            name="%impAndRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.ImpOrRewrites"
            id="impOrRewrites"
            name="%impOrRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RelImgUnionRightRewrites"
            id="relImgUnionRightRewrites"
            name="%relImgUnionRightRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RelImgUnionLeftRewrites"
            id="relImgUnionLeftRewrites"
            name="%relImgUnionLeftRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.SetEqlRewrites"
            id="setEqlRewrites"
            name="%setEqlRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.EqvRewrites"
            id="eqvRewrites"
            name="%eqvRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FunInterImg"
            id="funInterImg"
            name="%funInterImgName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FunSetMinusImg"
            id="funSetMinusImg"
            name="%funSetMinusImgName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FunSingletonImg"
            id="funSingletonImg"
            name="%funSingletonImgName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FunCompImg"
            id="funCompImg"
            name="%funCompImgName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.ConvRewrites"
            id="convRewrites"
            name="%convRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.DomDistLeftRewrites"
            id="domDistLeftRewrites"
            name="%domDistLeftRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.DomDistRightRewrites"
            id="domDistRightRewrites"
            name="%domDistRightRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RanDistLeftRewrites"
            id="ranDistLeftRewrites"
            name="%ranDistLeftRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RanDistRightRewrites"
            id="ranDistRightRewrites"
            name="%ranDistRightRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.SetMinusRewrites"
            id="setMinusRewrites"
            name="%setMinusRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.AndOrDistRewrites"
            id="andOrDistRewrites"
            name="%andOrDistRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.UnionInterDistRewrites"
            id="unionInterDistRewrites"
            name="%unionInterDistRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.CompUnionDistRewrites"
            id="compUnionDistRewrites"
            name="%compUnionDistRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.DomRanUnionDistRewrites"
            id="domRanUnionDistRewrites"
            name="%domRanUnionDistRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RelOvrRewrites"
            id="relOvrRewrites"
            name="%relOvrRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.CompImgRewrites"
            id="compImgRewrites"
            name="%compImgRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.DomCompRewrites"
            id="domCompRewrites"
            name="%domCompRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.RanCompRewrites"
            id="ranCompRewrites"
            name="%ranCompRewritesName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteSet"
            id="finiteSet"
            name="%finiteSetName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteInter"
            id="finiteInter"
            name="%finiteInterName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteSetMinus"
            id="finiteSetMinus"
            name="%finiteSetMinusName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteRelation"
            id="finiteRelation"
            name="%finiteRelationName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteRelImg"
            id="finiteRelImg"
            name="%finiteRelImgName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteDom"
            id="finiteDom"
            name="%finiteDomName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteRan"
            id="finiteRan"
            name="%finiteRanName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteFunction"
            id="finiteFunction"
            name="%finiteFunctionName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteFunConv"
            id="finiteFunConv"
            name="%finiteFunConvName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteFunRelImg"
            id="finiteFunRelImg"
            name="%finiteFunRelImgName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteFunDom"
            id="finiteFunDom"
            name="%finiteFunDomName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteFunRan"
            id="finiteFunRan"
            name="%finiteFunRanName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteMin"
            id="finiteMin"
            name="%finiteMinName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteMax"
            id="finiteMax"
            name="%finiteMaxName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteNegative"
            id="finiteNegative"
            name="%finiteNegativeName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FinitePositive"
            id="finitePositive"
            name="%finitePositiveName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.PartitionRewrites"
            id="partitionRewrites"
            name="%partitionRewritesName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.ArithRewrites"
            id="arithRewrites"
            name="%arithRewritesName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.OnePointRule"
            id="onePointRule"
            name="%onePointRuleName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FiniteHypBoundedGoal"
            id="finiteHypBoundedGoal"
            name="%finiteHypBoundedGoalName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.TotalDomRewrites"
            id="totalDom"
            name="%totalDomName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.FunImgSimplifies"
            id="funImgSimplifies"
            name="%funImgSimplifiesName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.FunImageGoal"
            id="funImgGoal"
            name="%funImgGoalName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.DTDistinctCase"
            id="dtDistinctCase"
            name="%dtDistinctCaseName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.DTInduction"
            id="dtInduction"
            name="%dtInductionName">
      </reasoner>
      <reasoner
      		class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.FiniteDefRewrites"
      		id="finiteDefRewrites"
      		name="%finiteDefRewritesName">
      </reasoner>
       <reasoner
      		class="org.eventb.internal.core.seqprover.eventbExtensions.MembershipGoal"
      		id="mbGoal"
      		name="%mbGoalName"/>
      <reasoner
     		class="org.eventb.internal.core.seqprover.eventbExtensions.MapOvrGoal"
      		id="mapOvrG"
      		name="%mapOvrGName"/>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.AbstrExpr"
            id="ae"
            name="%aeName">
      </reasoner>
      <reasoner
            class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.ContImplHypRewrites"
            id="doubleImplGoalRewrites"
            name="%doubleImplGoalRewritesName">
      </reasoner>
      <reasoner
     		class="org.eventb.internal.core.seqprover.eventbExtensions.rewriters.LocalEqRewrite"
      		id="locEq"
      		name="%locEqName"/>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$TrueGoalTac"
            description="%trueGoalTacDesc"
            id="trueGoalTac"
            name="%trueGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FalseHypTac"
            description="%falseHypTacDesc"
            id="falseHypTac"
            name="%falseHypTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$GoalInHypTac"
            description="%goalInHypTacDesc"
            id="goalInHypTac"
            name="%goalInHypTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$GoalDisjInHypTac"
            description="%goalDisjInHypDesc"
            id="goalDisjInHypTac"
            name="%goalDisjInHypName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FunGoalTac"
            description="%funGoalTacDesc"
            id="funGoalTac"
            name="%funGoalTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$AutoRewriteTac"
            id="autoRewriteTac"
            name="%autoRewriteTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$TypeRewriteTac"
            description="%typeRewriteTacDesc"
            id="typeRewriteTac"
            name="%typeRewriteTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$ImpGoalTac"
            description="%impGoalTacDesc"
            id="impGoalTac"
            name="%impGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$ForallGoalTac"
            description="%forallGoalTacDesc"
            id="forallGoalTac"
            name="%forallGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$ExistsHypTac"
            description="%existsHypTacDesc"
            id="existsHypTac"
            name="%existsHypTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FindContrHypsTac"
            description="%findContrHypsTacDesc"
            id="findContrHypsTac"
            name="%findContrHypsTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$EqHypTac"
            description="%eqHypTacDesc"
            id="eqHypTac"
            name="%eqHypTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$ShrinkImpHypTac"
            description="%shrinkImpHypTacDesc"
            id="shrinkImpHypTac"
            name="%shrinkImpHypTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$ShrinkEnumHypTac"
            description="%shrinkEnumHypTacDesc"
            id="shrinkEnumHypTac"
            name="%shrinkEnumHypTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$SplitRightConjImpHypTac"
            description="%splitRightConjImpHypTacDesc"
            id="splitRightConjImpHypTac"
            name="%splitRightConjImpHypTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$SplitLeftDisjImpHypTac"
            description="%splitLeftDisjImpHypTacDesc"
            id="splitLeftDisjImpHypTac"
            name="%splitLeftDisjImpHypTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$ConjGoalTac"
            description="%conjGoalTacDesc"
            id="conjGoalTac"
            name="%conjGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$ClarifyGoalTac"
            description="%clarifyGoalTacDesc"
            id="clarifyGoalTac"
            name="%clarifyGoalTacName"/>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FunOvrGoalTac"
            description="%funOvrGoalTacDesc"
            id="funOvrGoalTac"
            name="%funOvrGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FunOvrHypTac"
            description="%funOvrHypTacDesc"
            id="funOvrHypTac"
            name="%funOvrHypTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$PartitionRewriteTac"
            description="%partitionRewriteTacDesc"
            id="partitionRewriteTac"
            name="%partitionRewriteTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$OnePointGoalTac"
            description="%onePointGoalTacDesc"
            id="onePointGoalTac"
            name="%onePointGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$OnePointHypTac"
            description="%onePointHypTacDesc"
            id="onePointHypTac"
            name="%onePointHypTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FiniteHypBoundedGoalTac"
            description="%finiteHypBoundedGoalDesc"
            id="finiteHypBoundedGoalTac"
            name="%finiteHypBoundedGoalName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FunImgSimpTac"
            description="%funImgSimpTacDesc"
            id="funImgSimpTac"
            name="%funImgSimpTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$InDomGoalTac"
            description="%inDomGoalTacDesc"
            id="InDomGoalTac"
            name="%inDomGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FunImgInGoalTac"
            description="%funImgInGoalTacDesc"
            id="FunImgInGoalTac"
            name="%funImgInGoalTacName">
      </autoTactic> 
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$DTDestrWDTac"
            description="%dtDestrWDTacDesc"
            id="dtDestrWDTac"
            name="%dtDestrWDTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$RmiHypAutoTac"
            description="%rmiHypTacDesc"
            id="rmiHypTac"
            name="%rmiHypTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$RmiGoalAutoTac"
            description="%rmiGoalTacDesc"
            id="rmiGoalTac"
            name="%rmiGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$EqvRewritesHypAutoTac"
            description="%eqvHypTacDesc"
            id="eqvHypTac"
            name="%eqvHypTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$EqvRewritesGoalAutoTac"
            description="%eqvGoalTacDesc"
            id="eqvGoalTac"
            name="%eqvGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$NNFRewritesAutoTac"
            description="%NNFTacDesc"
            id="NNFTac"
            name="%NNFTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$GenMPTac"
            description="%GenMPTacDesc"
            id="genMPTac"
            name="%GenMPTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$DisjGoalTac"
            description="%DisjGoalTacDesc"
            id="DisjGoalTac"
            name="%DisjGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$MembershipGoalAutoTac"
            description="%mbGoalTacDesc"
            id="mbGoalTac"
            name="%mbGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$FunAppInDomGoalAutoTac"
            description="%funAppInDomGoalTacDesc"
            id="funAppInDomGoalTac"
            name="%funAppInDomGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$MapOvrGoalAutoTac"
            description="%mapOvrGoalTacDesc"
            id="mapOvrGoalTac"
            name="%mapOvrGoalTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$TotalDomToCProdAutoTac"
            description="%totalDomToCProdTacDesc"
            id="totalDomToCProdTac"
            name="%totalDomToCProdTacName">
      </autoTactic>
      <autoTactic
            class="org.eventb.core.seqprover.eventbExtensions.AutoTactics$LassoTac"
            description="%lassoDescription"
            id="lasso"
            name="%lassoName">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticCombinators">
      <combinator
            boundArity="false"
            class="org.eventb.core.seqprover.eventbExtensions.TacticCombinators$LoopOnAllPending"
            description="%loopOnAllPendingDescription"
            id="loopOnAllPending"
            minArity="1"
            name="%loopOnAllPendingName">
      </combinator>
   </extension>

</plugin>
