<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            name="AutomaticRewrites"
            class="org.eventb.contributer.seqprover.fr1936295.AutoRewrites"
            id="org.eventb.contributer.seqprover.fr1936295.autoRewrites">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="org.eventb.contributer.seqprover.fr1936295.Tactic1"
            id="autoTactic1"
            name="fr1936295(overwrite)">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.postTactics">
      <tactic
            id="org.eventb.contributer.seqprover.fr1936295.autoTactic1">
      </tactic>
   </extension>
   <extension
         point="org.eventb.core.pomTactics">
      <tactic
            id="org.eventb.contributer.seqprover.fr1936295.autoTactic1">
      </tactic>
   </extension>

</plugin>
