<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="symbols" name="%rodinSymbolsName" schema="schema/symbols.exsd"/>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eventb.ui.perspective.eventb">
         <viewShortcut
               id="org.rodinp.keyboard.views.KeyboardView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eventb.ui.perspective.proving">
         <viewShortcut
               id="org.rodinp.keyboard.views.KeyboardView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eventb.ui"
            class="org.rodinp.internal.keyboard.views.KeyboardView"
            icon="icons/keyboard.gif"
            id="org.rodinp.keyboard.views.KeyboardView"
            name="%rodinKeyboardViewName">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.rodinp.keyboard.presentation"
            label="%rodinPresentation.label">
      </themeElementCategory>
      <fontDefinition
            categoryId="org.rodinp.keyboard.presentation"
            defaultsTo="org.rodinp.keyboard.braveSansMono"
            id="org.rodinp.keyboard.textFont"
            isEditable="true"
            label="%rodinKeyboardFontDefinition.label">
         <description>
            %rodinKeyboardFontDefinition.description
         </description>
      </fontDefinition>
      <fontDefinition
            id="org.rodinp.keyboard.braveSansMono"
            isEditable="false"
            label="%rodinKeyboardBraveSansMono.label"
            value="Brave Sans Mono-regular-10">
         <description>
            %rodinKeyboardBraveSansMono.description
         </description>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/Rodin_Keyboard_User_Guide-toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
