<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="test"
            id="content-type-test"
            name="Test content type"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="test2"
            id="content-type-test2"
            name="Test2 content type"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="ctx"
            id="context"
            name="Test context"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="csc"
            id="scContext"
            name="test checked context"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="po"
            id="poFile"
            name="test PO file"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="mch"
            id="machine"
            name="Test machine"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="msc"
            id="scMachine"
            name="test checked machine"
            priority="normal"/>
   </extension>
   <extension
         point="org.rodinp.core.fileAssociations">
      <fileAssociation
            content-type-id="org.rodinp.core.tests.content-type-test"
            root-element-type="org.rodinp.core.tests.test"/>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.content-type-test2"
            root-element-type="org.rodinp.core.tests.test2"/>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.context"
            root-element-type="org.rodinp.core.tests.context"/>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.scContext"
            root-element-type="org.rodinp.core.tests.scContext"/>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.poFile"
            root-element-type="org.rodinp.core.tests.poFile"/>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.machine"
            root-element-type="org.rodinp.core.tests.machine"/>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.scMachine"
            root-element-type="org.rodinp.core.tests.scMachine"/>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.rodinp.core.tests.basis.RodinTestRoot"
            id="test"
            name="Test Rodin Root"/>
      <internalElementType
            class="org.rodinp.core.tests.basis.RodinTestRoot2"
            id="test2"
            name="Test2 Rodin Root"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.ContextRoot"
            id="context"
            name="Context"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.SCContextRoot"
            id="scContext"
            name="Checked Context"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.PORoot"
            id="poFile"
            name="PO File"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.MachineRoot"
            id="machine"
            name="Machine"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.SCMachineRoot"
            id="scMachine"
            name="Checked Machine"/>
      <internalElementType
            class="org.rodinp.core.tests.basis.NamedElement"
            id="namedElement"
            name="Named Element"/>
      <internalElementType
            class="org.rodinp.core.tests.basis.NamedElement11"
            id="namedElement11"
            name="Named Element 11">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.basis.NamedElement2"
            id="namedElement2"
            name="Named Element 2"/>
      <internalElementType
            class="org.rodinp.core.tests.basis.NamedElement22"
            id="namedElement22"
            name="Named Element 22">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.Dependency"
            id="dependency"
            name="Dependency to another context"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.Data"
            id="data"
            name="Arbitrary data"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.Reference"
            id="reference"
            name="Reference to other machine"/>
   </extension>
   <extension
         point="org.rodinp.core.autoTools">
      <tool
            class="org.rodinp.core.tests.builder.CSCTool"
            id="testCSC"
            name="Dumb Context Static Checker">
         <extractor
               class="org.rodinp.core.tests.builder.CSCTool"
               name="Dumb Context Static Checker Extractor">
            <inputType id="org.rodinp.core.tests.context"/>
         </extractor>
      </tool>
      <tool
            class="org.rodinp.core.tests.builder.MSCTool"
            id="testMSC"
            name="Dumb Machine Static Checker">
         <extractor
               class="org.rodinp.core.tests.builder.MSCTool"
               name="Dumb Machine Static Checker Extractor">
            <inputType id="org.rodinp.core.tests.machine"/>
         </extractor>
      </tool>
      <tool
            class="org.rodinp.core.tests.builder.CPOTool"
            id="testCPO"
            name="Dumb Context POG">
         <extractor
               class="org.rodinp.core.tests.builder.CPOTool"
               name="Dumb Context POG Extractor">
            <inputType id="org.rodinp.core.tests.scContext"/>
         </extractor>
      </tool>
      <tool
            class="org.rodinp.core.tests.builder.MPOTool"
            id="testMPO"
            name="Dumb Machine POG">
         <extractor
               class="org.rodinp.core.tests.builder.MPOTool"
               name="Dumb Machine POG Extractor">
            <inputType id="org.rodinp.core.tests.scMachine"/>
         </extractor>
      </tool>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
          id="fBool"
          name="Boolean attribute"
          kind="boolean"/>
      <attributeType
          id="fHandle"
          name="Element handle attribute"
          kind="handle"/>
      <attributeType
          id="fInt"
          name="Integer attribute"
          kind="integer"/>
      <attributeType
            id="fLong"
            kind="long"
            name="Long attribute"/>
      <attributeType
          id="fString"
          name="String attribute"
          kind="string"/>
      <attributeType
            id="testAttributeType"
            kind="string"
            name="Test Attribute Type"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tva"
            id="versionFileA"
            name="Test Version A"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvb"
            id="versionFileB"
            name="Test Version B"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvc"
            id="versionFileC"
            name="Test Version C"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvd"
            id="versionFileD"
            name="Test Version D"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tve"
            id="versionFileE"
            name="Test Version E"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvf"
            id="versionFileF"
            name="Test Version F"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvg"
            id="versionFileG"
            name="Test Version G"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvh"
            id="versionFileH"
            name="Test Version H"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.rodinp.core.fileAssociations">
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileA"
            root-element-type="org.rodinp.core.tests.versionFileA">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileB"
            root-element-type="org.rodinp.core.tests.versionFileB">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileC"
            root-element-type="org.rodinp.core.tests.versionFileC">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileD"
            root-element-type="org.rodinp.core.tests.versionFileD">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileE"
            root-element-type="org.rodinp.core.tests.versionFileE">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileF"
            root-element-type="org.rodinp.core.tests.versionFileF">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileG"
            root-element-type="org.rodinp.core.tests.versionFileG">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.rodinp.core.tests.versionFileH"
            root-element-type="org.rodinp.core.tests.versionFileH">
      </fileAssociation>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootA"
            id="versionFileA"
            name="Version File A">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootB"
            id="versionFileB"
            name="Version File B">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootC"
            id="versionFileC"
            name="Version File C">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootD"
            id="versionFileD"
            name="Version File D">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootE"
            id="versionFileE"
            name="Version File E">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootF"
            id="versionFileF"
            name="Version File F">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootG"
            id="versionFileG"
            name="Version File G">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionRootH"
            id="versionFileH"
            name="Version File H">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionEA"
            id="versionEA"
            name="Version E A">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionEB"
            id="versionEB"
            name="Version E B">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionEC"
            id="versionEC"
            name="Version E C">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="versionStrAttr"
            kind="string"
            name="Version String Attribute">
      </attributeType>
      <attributeType
            id="versionStrAttrX"
            kind="string"
            name="Version String Attribute X">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.conversions">
      <simple
            type="org.rodinp.core.tests.versionFileA"
            version="1">
         <element
               elementPath="/org.rodinp.core.tests.versionFileA/org.rodinp.core.tests.ve">
            <renameElement
                  newId="org.rodinp.core.tests.versionEA">
            </renameElement>
         </element>
      </simple>
      <simple
            type="org.rodinp.core.tests.versionFileB"
            version="2">
         <element
               elementPath="/org.rodinp.core.tests.versionFileB/org.rodinp.core.tests.versionEA">
            <renameAttribute
                  id="org.rodinp.core.tests.at"
                  newId="org.rodinp.core.tests.versionStrAttr">
            </renameAttribute>
         </element>
      </simple>
      <simple
            type="org.rodinp.core.tests.versionFileC"
            version="3">
         <element
               elementPath="/org.rodinp.core.tests.versionFileC/org.rodinp.core.tests.versionEA">
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="Hello">
            </addAttribute>
         </element>
      </simple>
      <simple
            type="org.rodinp.core.tests.versionFileD"
            version="2">
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEA">
            <renameElement
                  newId="org.rodinp.core.tests.versionEC">
            </renameElement>
         </element>
      </simple>
      <simple
            type="org.rodinp.core.tests.versionFileD"
            version="3">
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEX">
            <renameElement
                  newId="org.rodinp.core.tests.versionEA">
            </renameElement>
         </element>
      </simple>
      <sorted
            order="ascending"
            type="org.rodinp.core.tests.versionFileD"
            version="4">
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEA">
            <renameElement
                  newId="org.rodinp.core.tests.versionEC">
            </renameElement>
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="A">
            </addAttribute>
         </element>
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEB">
            <renameElement
                  newId="org.rodinp.core.tests.versionEC">
            </renameElement>
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="B">
            </addAttribute>
         </element>
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEC">
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="C">
            </addAttribute>
         </element>
      </sorted>
      <simple
            type="org.rodinp.core.tests.versionFileE"
            version="1">
         <element
               elementPath="/org.rodinp.core.tests.versionFileE">
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="VALUE">
            </addAttribute>
         </element>
      </simple>
      <source
            source="&lt;xsl:template match=&quot;/org.rodinp.core.tests.versionFileF/org.rodinp.core.tests.versionEA&quot;&gt;&lt;xsl:element name=&quot;org.rodinp.core.tests.versionEA&quot;&gt;&lt;xsl:attribute name=&quot;org.rodinp.core.tests.versionStrAttr&quot;&gt;&lt;xsl:value-of select=&quot;/org.rodinp.core.tests.versionFileF/org.rodinp.core.tests.versionEA/@org.rodinp.core.tests.versionStrAttrX&quot;/&gt;&lt;/xsl:attribute&gt;&lt;xsl:apply-templates select=&quot;@*&quot;/&gt;&lt;xsl:element name=&quot;org.rodinp.core.tests.versionEC&quot;&gt;&lt;xsl:attribute name=&quot;org.rodinp.core.tests.versionStrAttr&quot;&gt;&lt;xsl:value-of select=&quot;/org.rodinp.core.tests.versionFileF/org.rodinp.core.tests.versionEA/@name&quot;/&gt;&lt;/xsl:attribute&gt;&lt;/xsl:element&gt;&lt;/xsl:element&gt;&lt;/xsl:template&gt;&lt;xsl:template match=&quot;/org.rodinp.core.tests.versionFileF/org.rodinp.core.tests.versionEA/@org.rodinp.core.tests.versionStrAttrX&quot;/&gt;"
            type="org.rodinp.core.tests.versionFileF"
            version="1">
      </source>
      <multiple
            type="org.rodinp.core.tests.versionFileG"
            version="1">
         <pattern
               patternPath="//*">
            <modifyAttribute
                  class="org.rodinp.core.tests.version.db.Modifier"
                  id="org.rodinp.core.tests.versionStrAttr">
            </modifyAttribute>
         </pattern>
      </multiple>
      <simple
            type="org.rodinp.core.tests.versionFileH"
            version="1">
         <element
               elementPath="/org.rodinp.core.tests.versionFileH/org.rodinp.core.tests.versionEA">
            <changeName
                  newValue="xx_@_yy">
            </changeName>
         </element>
         <element
               elementPath="/org.rodinp.core.tests.versionFileH/org.rodinp.core.tests.versionEC">
            <changeName
                  newValue="newName">
            </changeName>
         </element>
      </simple>
   </extension>
   <extension
         point="org.rodinp.core.fileElementVersions">
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileA"
            version="1">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileB"
            version="2">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileC"
            version="3">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileD"
            version="4">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileE"
            version="1">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileF"
            version="1">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileG"
            version="1">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileH"
            version="1">
      </fileElementVersion>
   </extension>
   <extension
         id="testOccurrenceKinds"
         name="Test Occurrence Kinds"
         point="org.rodinp.core.occurrenceKinds">
      <occurrenceKind
            id="testKind"
            name="Test Kind">
      </occurrenceKind>
      <occurrenceKind
            id="testKind1"
            name="Test Kind 1">
      </occurrenceKind>
      <occurrenceKind
            id="testKind2"
            name="test Kind 2">
      </occurrenceKind>
      <occurrenceKind
            id="invalid.kind"
            name="Occurrence kind containing a dot">
      </occurrenceKind>
   </extension>
  <extension
         id="testIndexers"
         name="Test Indexers"
         point="org.rodinp.core.indexers">
      <indexer
            class="org.rodinp.core.tests.indexer.FakeExceptionIndexer"
            id="fakeExceptionIndexer"
            name="Fake Exception Indexer"
            root-element-type="org.rodinp.core.tests.test">
      </indexer>
      <indexer
            class="org.rodinp.core.tests.indexer.FakeFailIndexer"
            id="fakeFailIndexer"
            name="Fake Fail Indexer"
            root-element-type="org.rodinp.core.tests.test">
      </indexer>
      <indexer
            class="org.rodinp.core.tests.indexer.FakeGetDeclIndexer"
            id="fakeGetDeclIndexer"
            name="Fake Get Decl Indexer"
            root-element-type="org.rodinp.core.tests.test">
      </indexer>
      <indexer
            class="org.rodinp.core.tests.indexer.FakeIndexer"
            id="fakeIndexer"
            name="Fake Indexer"
            root-element-type="org.rodinp.core.tests.test">
      </indexer>
      <indexer
            class="org.rodinp.core.tests.indexer.tables.FakeExportIndexer"
            id="fakeExportndexer"
            name="Fake Export Indexer"
            root-element-type="org.rodinp.core.tests.test">
      </indexer>
      <indexer
            class="org.rodinp.core.tests.indexer.tables.FakeDependenceIndexer"
            id="fakeDependenceIndexer"
            name="Fake Dependence Indexer"
            root-element-type="org.rodinp.core.tests.test">
      </indexer>
      <indexer
            class="org.rodinp.core.tests.indexer.tables.FakeNameIndexer"
            id="fakeNameIndexer"
            name="Fake Name Indexer"
            root-element-type="org.rodinp.core.tests.test">
      </indexer>
      <indexer
            class="org.rodinp.core.tests.indexer.tables.FakeNameIndexer"
            id="fakeNameIndexer"
            name="Fake Name Indexer"
            root-element-type="org.rodinp.core.tests.test2">
      </indexer>
   </extension>
  <extension
        id="testRefinements"
        name="Test Refinements"
        point="org.rodinp.core.refinements">
     <Refinement
           root-element-type="org.rodinp.core.tests.test"
           id="testRefinement">
     </Refinement>
     <Participant
           class="org.rodinp.core.tests.RefinementTests$RefPart1"
           id="testParticipant1"
           refinement-id="org.rodinp.core.tests.testRefinement">
     </Participant>
     <Participant
           class="org.rodinp.core.tests.RefinementTests$RefPart2"
           id="testParticipant2"
           refinement-id="org.rodinp.core.tests.testRefinement">
     </Participant>
     <Order
           first-participant-id="org.rodinp.core.tests.testParticipant1"
           second-participant-id="org.rodinp.core.tests.testParticipant2">
     </Order>
  </extension>
  <extension
        point="org.rodinp.core.itemRelations">
     <relationship
           parentTypeId="org.rodinp.core.tests.context">
        <childType
              typeId="org.rodinp.core.tests.dependency">
        </childType>
        <childType
              typeId="org.rodinp.core.tests.data">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.machine">
        <childType
              typeId="org.rodinp.core.tests.dependency">
        </childType>
        <childType
              typeId="org.rodinp.core.tests.reference">
        </childType>
        <childType
              typeId="org.rodinp.core.tests.data">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.scContext">
        <childType
              typeId="org.rodinp.core.tests.data">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.scMachine">
        <childType
              typeId="org.rodinp.core.tests.data">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.test">
        <childType
              typeId="org.rodinp.core.tests.namedElement">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.namedElement">
        <childType
              typeId="org.rodinp.core.tests.namedElement">
        </childType>
     </relationship>
  </extension>
  <extension
        point="org.rodinp.core.itemRelations">
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileA">
        <childType
              typeId="org.rodinp.core.tests.versionEA">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileB">
        <childType
              typeId="org.rodinp.core.tests.versionEA">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileC">
        <childType
              typeId="org.rodinp.core.tests.versionEA">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileD">
        <childType
              typeId="org.rodinp.core.tests.versionEC">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileE">
        <childType
              typeId="org.rodinp.core.tests.versionEA">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileF">
        <childType
              typeId="org.rodinp.core.tests.versionEA">
        </childType>
        <childType
              typeId="org.rodinp.core.tests.versionEB">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileG">
        <childType
              typeId="org.rodinp.core.tests.versionEA">
        </childType>
        <childType
              typeId="org.rodinp.core.tests.versionEB">
        </childType>
        <childType
              typeId="org.rodinp.core.tests.versionEC">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionFileH">
        <childType
              typeId="org.rodinp.core.tests.versionEA">
        </childType>
        <childType
              typeId="org.rodinp.core.tests.versionEC">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionEA">
        <childType
              typeId="org.rodinp.core.tests.versionEC">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.versionEB">
        <childType
              typeId="org.rodinp.core.tests.versionEC">
        </childType>
     </relationship>
  </extension>
  <extension
        point="org.rodinp.core.itemRelations">
     <relationship
           parentTypeId="org.rodinp.core.tests.namedElement">
        <childType
              typeId="org.rodinp.core.tests.namedElement11">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.test2">
        <childType
              typeId="org.rodinp.core.tests.namedElement2">
        </childType>
     </relationship>
     <relationship
           parentTypeId="org.rodinp.core.tests.namedElement2">
        <childType
              typeId="org.rodinp.core.tests.namedElement22">
        </childType>
     </relationship>
  </extension>
</plugin>
