<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="test"
            id="content-type-test"
            name="Test content type"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="test2"
            id="content-type-test2"
            name="Test2 content type"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="ctx"
            id="context"
            name="Test context"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="csc"
            id="scContext"
            name="test checked context"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="po"
            id="poFile"
            name="test PO file"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="mch"
            id="machine"
            name="Test machine"
            priority="normal"/>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="msc"
            id="scMachine"
            name="test checked machine"
            priority="normal"/>
   </extension>
   <extension
         point="org.rodinp.core.fileElementTypes">
      <fileElementType
            class="org.rodinp.core.tests.basis.RodinTestFile"
            content-type-id="org.rodinp.core.tests.content-type-test"
            id="test"
            name="Test Rodin File"/>
      <fileElementType
            class="org.rodinp.core.tests.basis.RodinTestFile2"
            content-type-id="org.rodinp.core.tests.content-type-test2"
            id="test2"
            name="Test2 Rodin File"/>
      <fileElementType
            class="org.rodinp.core.tests.builder.basis.Context"
            content-type-id="org.rodinp.core.tests.context"
            id="context"
            name="Context"/>
      <fileElementType
            class="org.rodinp.core.tests.builder.basis.SCContext"
            content-type-id="org.rodinp.core.tests.scContext"
            id="scContext"
            name="Checked Context"/>
      <fileElementType
            class="org.rodinp.core.tests.builder.basis.POFile"
            content-type-id="org.rodinp.core.tests.poFile"
            id="poFile"
            name="PO File"/>
      <fileElementType
            class="org.rodinp.core.tests.builder.basis.Machine"
            content-type-id="org.rodinp.core.tests.machine"
            id="machine"
            name="Machine"/>
      <fileElementType
            class="org.rodinp.core.tests.builder.basis.SCMachine"
            content-type-id="org.rodinp.core.tests.scMachine"
            id="scMachine"
            name="Checked Machine"/>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.rodinp.core.tests.basis.NamedElement"
            id="namedElement"
            name="Named Element"/>
      <internalElementType
            class="org.rodinp.core.tests.basis.NamedElement2"
            id="namedElement2"
            name="Named Element 2"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.Dependency"
            id="dependency"
            name="Dependency to another context"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.Data"
            id="data"
            name="Arbitrary data"/>
      <internalElementType
            class="org.rodinp.core.tests.builder.basis.Reference"
            id="reference"
            name="Reference to other machine"/>
   </extension>
   <extension
         point="org.rodinp.core.autoTools">
      <tool
            class="org.rodinp.core.tests.builder.CSCTool"
            id="testCSC"
            name="Dumb Context Static Checker">
         <extractor
               class="org.rodinp.core.tests.builder.CSCTool"
               name="Dumb Context Static Checker Extractor">
            <inputType id="org.rodinp.core.tests.context"/>
         </extractor>
      </tool>
      <tool
            class="org.rodinp.core.tests.builder.MSCTool"
            id="testMSC"
            name="Dumb Machine Static Checker">
         <extractor
               class="org.rodinp.core.tests.builder.MSCTool"
               name="Dumb Context Static Checker Extractor">
            <inputType id="org.rodinp.core.tests.machine"/>
         </extractor>
      </tool>
      <tool
            class="org.rodinp.core.tests.builder.CPOTool"
            id="testCPO"
            name="Dumb Context POG">
         <extractor
               class="org.rodinp.core.tests.builder.CPOTool"
               name="Dumb Context POG Extractor">
            <inputType id="org.rodinp.core.tests.scContext"/>
         </extractor>
      </tool>
      <tool
            class="org.rodinp.core.tests.builder.MPOTool"
            id="testMPO"
            name="Dumb Machine POG">
         <extractor
               class="org.rodinp.core.tests.builder.MPOTool"
               name="Dumb Machine POG Extractor">
            <inputType id="org.rodinp.core.tests.scMachine"/>
         </extractor>
      </tool>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
          id="fBool"
          name="Boolean attribute"
          kind="boolean"/>
      <attributeType
          id="fHandle"
          name="Element handle attribute"
          kind="handle"/>
      <attributeType
          id="fInt"
          name="Integer attribute"
          kind="integer"/>
      <attributeType
            id="fLong"
            kind="long"
            name="Long attribute"/>
      <attributeType
          id="fString"
          name="String attribute"
          kind="string"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tva"
            id="versionFileA"
            name="Test Version A"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvb"
            id="versionFileB"
            name="Test Version B"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvc"
            id="versionFileC"
            name="Test Version C"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.rodinp.core.rodin"
            file-extensions="tvd"
            id="versionFileD"
            name="Test Version D"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.rodinp.core.fileElementTypes">
      <fileElementType
            class="org.rodinp.core.tests.version.db.basis.VersionFileA"
            content-type-id="org.rodinp.core.tests.versionFileA"
            id="versionFileA"
            name="Version File A">
      </fileElementType>
      <fileElementType
            class="org.rodinp.core.tests.version.db.basis.VersionFileB"
            content-type-id="org.rodinp.core.tests.versionFileB"
            id="versionFileB"
            name="Version File B">
      </fileElementType>
      <fileElementType
            class="org.rodinp.core.tests.version.db.basis.VersionFileC"
            content-type-id="org.rodinp.core.tests.versionFileC"
            id="versionFileC"
            name="Version File C">
      </fileElementType>
      <fileElementType
            class="org.rodinp.core.tests.version.db.basis.VersionFileD"
            content-type-id="org.rodinp.core.tests.versionFileD"
            id="versionFileD"
            name="Version File D">
      </fileElementType>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionEA"
            id="versionEA"
            name="Version E A">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionEB"
            id="versionEB"
            name="Version E B">
      </internalElementType>
      <internalElementType
            class="org.rodinp.core.tests.version.db.basis.VersionEC"
            id="versionEC"
            name="Version E C">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="versionStrAttr"
            kind="string"
            name="Version String Attribute">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.conversions">
      <simple
            type="org.rodinp.core.tests.versionFileA"
            version="1">
         <element
               elementPath="/org.rodinp.core.tests.versionFileA/org.rodinp.core.tests.ve">
            <renameElement
                  newId="org.rodinp.core.tests.versionEA">
            </renameElement>
         </element>
      </simple>
      <simple
            type="org.rodinp.core.tests.versionFileB"
            version="2">
         <element
               elementPath="/org.rodinp.core.tests.versionFileB/org.rodinp.core.tests.versionEA">
            <renameAttribute
                  id="org.rodinp.core.tests.at"
                  newId="org.rodinp.core.tests.versionStrAttr">
            </renameAttribute>
         </element>
      </simple>
      <simple
            type="org.rodinp.core.tests.versionFileC"
            version="3">
         <element
               elementPath="/org.rodinp.core.tests.versionFileC/org.rodinp.core.tests.versionEA">
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="Hello">
            </addAttribute>
         </element>
      </simple>
      <sorted
            order="ascending"
            type="org.rodinp.core.tests.versionFileD"
            version="4">
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEA">
            <renameElement
                  newId="org.rodinp.core.tests.versionEC">
            </renameElement>
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="A">
            </addAttribute>
         </element>
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEB">
            <renameElement
                  newId="org.rodinp.core.tests.versionEC">
            </renameElement>
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="B">
            </addAttribute>
         </element>
         <element
               elementPath="/org.rodinp.core.tests.versionFileD/org.rodinp.core.tests.versionEC">
            <addAttribute
                  newId="org.rodinp.core.tests.versionStrAttr"
                  newValue="C">
            </addAttribute>
         </element>
      </sorted>
   </extension>
   <extension
         point="org.rodinp.core.fileElementVersions">
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileA"
            version="1">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileB"
            version="2">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileC"
            version="3">
      </fileElementVersion>
      <fileElementVersion
            id="org.rodinp.core.tests.versionFileD"
            version="4">
      </fileElementVersion>
   </extension>

</plugin>
