<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eventb.ui"
            name="Event-B"/>
            <view
            category="org.eventb.ui"
            class="org.eventb.internal.ui.obligationexplorer.ObligationExplorer"
            icon="icons/sample.gif"
            id="org.eventb.ui.views.ObligationExplorer"
            name="Obligation Explorer"/>
      <view
            category="org.eventb.ui"
            class="org.eventb.internal.ui.prover.ProofControl"
            icon="icons/sample.gif"
            id="org.eventb.ui.views.ProofControl"
            name="Proof Control"/>
      <view
            category="org.eventb.ui"
            class="org.eventb.internal.ui.prover.ProofInformation"
            icon="icons/sample.gif"
            id="org.eventb.ui.views.ProofInformation"
            name="Proof Information"/>
      <view
            category="org.eventb.ui"
            class="org.eventb.internal.ui.projectexplorer.ProjectExplorer"
            icon="icons/sample.gif"
            id="org.eventb.ui.views.ProjectExplorer"
            name="Project Explorer"/>
      <view
            category="org.eventb.ui"
            class="org.eventb.internal.ui.prover.ProofTreeUI"
            icon="icons/sample.gif"
            id="org.eventb.ui.views.ProofTreeUI"
            name="Proof Tree UI"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eventb.internal.ui.eventbeditor.EventBMachineEditor"
            contributorClass="org.eventb.internal.ui.eventbeditor.EventBMachineEditorContributor"
            extensions="bum"
            icon="icons/machine.gif"
            id="org.eventb.ui.editors.EventBMachineEditor"
            name="Event-B Machine Editor"/>
      <editor
            class="org.eventb.internal.ui.eventbeditor.EventBContextEditor"
            contributorClass="org.eventb.internal.ui.eventbeditor.EventBContextEditorContributor"
            extensions="buc"
            icon="icons/context.gif"
            id="org.eventb.ui.editors.EventBContextEditor"
            name="Event-B Context Editor"/>
      <editor
            class="org.eventb.internal.ui.prover.ProverUI"
            contributorClass="org.eventb.internal.ui.prover.ProverUIContributor"
            extensions="bpr"
            icon="icons/sample.gif"
            id="org.eventb.ui.editors.ProverUI"
            name="Prover User Interface"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eventb.ui.wizards"
            name="Event-B Wizards"/>
      <wizard
            category="org.eventb.ui.wizards"
            class="org.eventb.internal.ui.wizards.NewProjectWizard"
            icon="icons/sample.gif"
            id="org.eventb.ui.wizards.NewProject"
            name="New Event-B Project"/>
      <wizard
            category="org.eventb.ui.wizards"
            class="org.eventb.internal.ui.wizards.NewComponentWizard"
            icon="icons/sample.gif"
            id="org.eventb.ui.wizards.NewComponent"
            name="New Event-B Component"/>
   </extension>
   <extension-point id="machinePages" name="Event-B Machine Form Page" schema="schema/machinePages.exsd"/>
   <extension-point id="contextPages" name="Event-B Context Form Page" schema="schema/contextPages.exsd"/>
   <extension
         point="org.eventb.ui.machinePages">
      <page class="org.eventb.internal.ui.eventbeditor.DependenciesPage"/>
      <page class="org.eventb.internal.ui.eventbeditor.VariablesPage"/>
      <page class="org.eventb.internal.ui.eventbeditor.InvariantsPage"/>
      <page class="org.eventb.internal.ui.eventbeditor.TheoremsPage"/>
      <page class="org.eventb.internal.ui.eventbeditor.EventsPage"/>
   </extension>
   <extension
         point="org.eventb.ui.contextPages">
      <page class="org.eventb.internal.ui.eventbeditor.CarrierSetsPage"/>
      <page class="org.eventb.internal.ui.eventbeditor.ConstantsPage"/>
      <page class="org.eventb.internal.ui.eventbeditor.AxiomsPage"/>
      <page class="org.eventb.internal.ui.eventbeditor.TheoremsPage"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eventb.internal.ui.ModellingPerspective"
            id="org.eventb.ui.perspective.Modelling"
            name="Modelling"/>
      <perspective
            class="org.eventb.internal.ui.ProvingPerspective"
            id="org.eventb.ui.perspective.Proving"
            name="Proving"/>
   </extension>

</plugin>
