<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            category="org.eventb.ui"
            icon="icons/prf_tree.gif"
            class="org.eventb.ui.proofskeleton.views.ProofSkeletonView"
            id="org.eventb.ui.proofskeleton.views.ProofSkeletonView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eventb.ui.proofskeleton.views.ProofSkeletonView">
         </view>
         <viewShortcut
               id="org.eventb.ui.proofskeleton.views.ProofSkeletonView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eventb.ui.proofskeleton.toolbar"
            targetID="org.eventb.ui.proofskeleton.views.ProofSkeletonView">
         <action
               class="org.eventb.ui.proofskeleton.views.ProofSkeletonCollapseAllAction"
               icon="icons/collapseall.gif"
               id="org.eventb.ui.proofskeleton.toolbar.collapseAll"
               label="%action.collapseall.label"
               toolbarPath="navigationGroup">
         </action>
         <action
               class="org.eventb.ui.proofskeleton.views.ProofSkeletonExpandAllAction"
               icon="icons/expandall.gif"
               id="org.eventb.ui.proofskeleton.toolbar.expandAll"
               label="%action.expandall.label"
               toolbarPath="navigationGroup">
         </action>
      </viewContribution>
   </extension>

</plugin>
