<!DOCTYPE html>
<html>
<head>
  <title>Rodin Database Viewer</title>
  <style>
    body {
      background-color: linen;
    }
    h1 {
      color: maroon;
    }
    </style>
</head>
<body>
<h1>Rodin Database Viewer</h1>

<p>Please select a Rodin file and click submit</p>
<form action="/" method="post" enctype="multipart/form-data">
  <label for="file">Rodin file:</label>
  <input type="file" name="file"/><br/>
  <input type="submit" value="Submit">
</form>
</body>
</html>
