<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eventb.ui"
            class="org.eventb.ui.symboltable.internal.SymbolViewPart"
            icon="icons/symbol_table.png"
            id="org.eventb.ui.symboltable.view"
            name="%symbolViewName">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eventb.ui.perspective.eventb">
         <view
               id="org.eventb.ui.symboltable.view"
               minimized="false"
               ratio="0.7"
               relationship="right"
               relative="org.eventb.ui.views.RodinProblemView">
         </view>
         <viewShortcut
               id="org.eventb.ui.symboltable.view">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eventb.ui.perspective.proving">
         <view
               id="org.eventb.ui.symboltable.view"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="fr.systerel.explorer.navigator.view">
         </view>
         <viewShortcut
               id="org.eventb.ui.symboltable.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
