<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eventb.ui"
            class="org.eventb.ui.symboltable.internal.SymbolViewPart"
            icon="icons/symbol_table.png"
            id="org.eventb.ui.symboltable.view"
            name="%symbolViewName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eventb.ui.perspective.eventb">
         <viewShortcut
               id="org.eventb.ui.symboltable.view">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eventb.ui.perspective.proving">
         <viewShortcut
               id="org.eventb.ui.symboltable.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
