<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eventb.ui.proofTactics">
      <tactic
            dropdown="org.eventb.pp.ui.NewPPDropdown"
            icon="icons/nppr.gif"
            id="org.eventb.pp.pprestricted"
            interrupt="true"
            name="%tactic.pprestricted.name"
            priority="9"
            tacticProvider="org.eventb.internal.pp.ui.PPTacticProviderRestricted"
            target="global"
            tooltip="%tactic.pprestricted.tooltip"/>
      <tactic
            dropdown="org.eventb.pp.ui.NewPPDropdown"
            icon="icons/npplassoo.gif"
            id="org.eventb.pp.pplasso"
            interrupt="true"
            name="%tactic.pplasso.name"
            priority="9"
            tacticProvider="org.eventb.internal.pp.ui.PPTacticProviderWithLasso"
            target="global"
            tooltip="%tactic.pplasso.tooltip"/>
      <tactic
            dropdown="org.eventb.pp.ui.NewPPDropdown"
            icon="icons/npp.gif"
            id="org.eventb.pp.ppall"
            interrupt="true"
            name="%tactic.ppall.name"
            priority="9"
            tacticProvider="org.eventb.internal.pp.ui.PPTacticProvider"
            target="global"
            tooltip="%tactic.ppall.tooltip"/>
      <dropdown
            id="org.eventb.pp.ui.NewPPDropdown"
            name="%dropdown.name"
            priority="9"
            toolbar="org.eventb.ui.sequentToolbar"/>
   </extension>

</plugin>
