<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension  point="org.eclipse.help.toc">
     <toc
           file="html/index_rodin_user_manual.xml"
           primary="true">
	 </toc>
	 <toc
           file="html/index_rodin_tutorial.xml"
           primary="true">
     </toc>
	 </extension>
</plugin>
