<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.systerel.editor.internal.editors.RodinEditor"
            default="true"
            icon="icons/full/clcl16/b_file.gif"
            id="fr.systerel.editor.editors.RodinEditor"
            name="%editorName">
         <contentTypeBinding
               contentTypeId="org.eventb.core.contextFile">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eventb.core.machineFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.internal.handlers.AddChildHandler"
            commandId="fr.systerel.editor.addChild">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AddSiblingHandler"
            commandId="fr.systerel.editor.addSibling">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AddSameSiblingHandler"
            commandId="fr.systerel.editor.addSameSibling">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.MoveUpHandler"
            commandId="org.eclipse.ui.edit.text.moveLineUp">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.MoveDownHandler"
            commandId="org.eclipse.ui.edit.text.moveLineDown">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.ShowCustomizePreferences"
            commandId="fr.systerel.editor.rename.customizePrefixes">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoActionLabelRenaming"
            commandId="fr.systerel.editor.rename.action">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoGuardLabelRenaming"
            commandId="fr.systerel.editor.rename.guard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoInvariantLabelRenaming"
            commandId="fr.systerel.editor.rename.invariant">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoAxiomLabelRenaming"
            commandId="fr.systerel.editor.rename.axiom">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SelectUpHandler"
            commandId="org.eclipse.ui.edit.text.select.lineUp">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SelectDownHandler"
            commandId="org.eclipse.ui.edit.text.select.lineDown">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AbortHandler"
            commandId="fr.systerel.editor.abortEditionFreeSelection">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.TraverseHandlers$TraverseNextHandler"
            commandId="fr.systerel.editor.traverseNext">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.TraverseHandlers$TraversePreviousHandler"
            commandId="fr.systerel.editor.traversePrevious">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.QuickAddElementHandler$QuickAddChildHandler"
            commandId="fr.systerel.editor.showAddChild">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.QuickAddElementHandler$QuickAddSiblingHandler"
            commandId="fr.systerel.editor.showAddSibling">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.InsertHandler"
            commandId="org.eventb.ui.edit.insert">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="fr.systerel.editor.editors.RodinEditor">
                     </equals>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
               <handler
            class="fr.systerel.editor.internal.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="fr.systere.editor.definition.RodinEditorDefaultScope">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.systerel.editor.editionCategory"
            name="Model Edition Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addChild"
            name="Add Child Command">
         <commandParameter
               id="typeID"
               name="Element type ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addSibling"
            name="Add Sibling">
         <commandParameter
               id="typeID"
               name="Element type ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addSameSibling"
            name="Add Same Sibling">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.moveUp"
            name="Move Up">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.moveDown"
            name="Move Down">
      </command>
      <category
            id="fr.systerel.editor.renamingCommandsCategory"
            name="Renaming Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.action"
            name="Automatic Action Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.guard"
            name="Automatic Guard Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.invariant"
            name="Automatic Invariant Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.axiom"
            name="Automatic Axiom Labelling">
      </command>
      <command
            id="fr.systerel.editor.rename.customizePrefixes"
            name="Customize prefixes...">
      </command>
      <command
            id="fr.systerel.editor.abortEditionFreeSelection"
            name="Abort edition and free selected items">
      </command>
      <command
            id="fr.systerel.editor.traverseNext"
            name="Traverse to the next editable interval">
      </command>
      <command
            id="fr.systerel.editor.traversePrevious"
            name="Traverse to the previous editable interval">
      </command>
      <command
            id="fr.systerel.editor.showAddChild"
            name="Show Add Child Menu">
      </command>
      <command
            id="fr.systerel.editor.showAddSibling"
            name="Show Add Sibling Menu">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new variable wizard"
            id="fr.systerel.editor.openNewVariableWizard"
            name="New variable wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new variant wizard"
            id="fr.systerel.editor.openNewVariantWizard"
            name="New variant wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new invariant wizard"
            id="fr.systerel.editor.openNewInvariantWizard"
            name="New invariant wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new event wizard"
            id="fr.systerel.editor.openNewEventWizard"
            name="New event wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new carrier set wizard"
            id="fr.systerel.editor.openNewCarrierSetWizard"
            name="New carrier set wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new enumerated set wizard"
            id="fr.systerel.editor.openNewEnumeratedSetWizard"
            name="New enumerated set wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new axiom wizard"
            id="fr.systerel.editor.openNewAxiomWizard"
            name="New axiom wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new constant wizard"
            id="fr.systerel.editor.openNewConstantWizard"
            name="New constant wizardrd">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewVariableWizardHandler"
            commandId="fr.systerel.editor.openNewVariableWizard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewVariantWizardHandler"
            commandId="fr.systerel.editor.openNewVariantWizard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewInvariantWizardHandler"
            commandId="fr.systerel.editor.openNewInvariantWizard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewEventWizardHandler"
            commandId="fr.systerel.editor.openNewEventWizard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewCarrierSetWizardHandler"
            commandId="fr.systerel.editor.openNewCarrierSetWizard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewEnumeratedSetWizardHandler"
            commandId="fr.systerel.editor.openNewEnumeratedSetWizard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewAxiomWizardHandler"
            commandId="fr.systerel.editor.openNewAxiomWizard">
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewConstantWizardHandler"
            commandId="fr.systerel.editor.openNewConstantWizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.editor.editors.RodinEditor?before=additions">
         <dynamic
               class="fr.systerel.editor.internal.handlers.DynamicAddChildContributionItem"
               id="fr.systerel.editor.addChildPossibilities">
         </dynamic>
         <dynamic
               class="fr.systerel.editor.internal.handlers.DynamicAddSiblingContributionItem"
               id="fr.systerel.editor.addSiblingPossibilities">
         </dynamic>
         <separator
               name="fr.systerel.editor.RefreshSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="fr.systerel.editor.CreationSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <separator
               name="fr.systerel.editor.MovementSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineUp"
               label="Move Up"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineDown"
               label="Move Down"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Rename">
            <command
                  commandId="fr.systerel.editor.rename.action"
                  label="Automatic Action Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.guard"
                  label="Automatic Guard Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.invariant"
                  label="Automatic Invariant Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.axiom"
                  label="Automatic Axiom Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorContextScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="fr.systerel.editor.renameMenuSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="fr.systerel.editor.rename.customizePrefixes"
                  label="Customize prefixes..."
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="fr.systerel.editor.editors.RodinEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="fr.systerel.editor.editorNewElementWizards"
               label="New element wizard toolbar">
            <command
                  commandId="fr.systerel.editor.openNewVariableWizard"
                  icon="icons/full/ctool16/newvar_edit.gif"
                  label="Variable wizard"
                  style="push"
                  tooltip="Open the new variable wizard">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewVariantWizard"
                  icon="icons/full/ctool16/newvariant_edit.gif"
                  label="Variant wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewInvariantWizard"
                  icon="icons/full/ctool16/newinv_edit.gif"
                  label="Invariant wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewEnumeratedSetWizard"
                  icon="icons/full/ctool16/newenuset_edit.gif"
                  label="Enumerated Set wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorContextScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewAxiomWizard"
                  icon="icons/full/ctool16/newaxm_edit.gif"
                  label="Axiom wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorContextScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewEventWizard"
                  icon="icons/full/ctool16/newevt_edit.gif"
                  label="Event wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewCarrierSetWizard"
                  icon="icons/full/ctool16/newset_edit.gif"
                  label="Carrier Set wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorContextScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewConstantWizard"
                  icon="icons/full/ctool16/newcst_edit.gif"
                  label="Constant wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="fr.systerel.editor.contexts.rodinEditorContextScope">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="fr.systerel.editor.editorBasicCommands"
               label="Rodin Editor Basic Commands">
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  label="Refresh"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.systerel.editor.showAddSibling"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+T">
      </key>
      <key
            commandId="fr.systerel.editor.showAddChild"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+G">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.select.lineUp"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_UP">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.select.lineDown"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_DOWN">
      </key>
      <key
            commandId="fr.systerel.editor.abortEditionFreeSelection"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
      <key
            commandId="fr.systerel.editor.traverseNext"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="TAB">
      </key>
      <key
            commandId="fr.systerel.editor.traversePrevious"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+TAB">
      </key>
      <key
            commandId="fr.systerel.editor.addSameSibling"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+I">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="A default rodin editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            name="Default Rodin Editor Context">
      </context>
      <context
            description="A machine editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorMachineScope"
            name="Machine Rodin Editor Scope (Editor Context)">
      </context>
      <context
            description="A context editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorContextScope"
            name="Context Rodin Editor Scope (Editor Context)">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="fr.systere.editor.definition.RodinEditorDefaultScope">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
