<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.systerel.editor.internal.editors.RodinEditor"
            default="true"
            icon="icons/full/clcl16/b_file.gif"
            id="fr.systerel.editor.editors.RodinEditor"
            name="%editorName">
         <contentTypeBinding
               contentTypeId="org.eventb.core.contextFile">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eventb.core.machineFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.internal.handlers.AddChildHandler"
            commandId="fr.systerel.editor.addChild">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AddSiblingHandler"
            commandId="fr.systerel.editor.addSibling">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AddSameSiblingHandler"
            commandId="fr.systerel.editor.addSameSibling">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.MoveUpHandler"
            commandId="org.eclipse.ui.edit.text.moveLineUp">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.MoveDownHandler"
            commandId="org.eclipse.ui.edit.text.moveLineDown">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SelectUpHandler"
            commandId="org.eclipse.ui.edit.text.select.lineUp">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
         <enabledWhen>
         <reference
               definitionId="fr.systerel.editor.definition.inRodinEditor">
         </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SelectDownHandler"
            commandId="org.eclipse.ui.edit.text.select.lineDown">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
         <enabledWhen>
         <reference
               definitionId="fr.systerel.editor.definition.inRodinEditor">
         </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.AbortHandler"
            commandId="fr.systerel.editor.abortEditionFreeSelection">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.RodinEditorDefaultScope">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.TraverseHandlers$TraverseNextHandler"
            commandId="fr.systerel.editor.traverseNext">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.TraverseHandlers$TraversePreviousHandler"
            commandId="fr.systerel.editor.traversePrevious">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.QuickAddElementHandler$QuickAddChildHandler"
            commandId="fr.systerel.editor.showAddChild">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.QuickAddElementHandler$QuickAddSiblingHandler"
            commandId="fr.systerel.editor.showAddSibling">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.internal.handlers.CutHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="fr.systerel.editor.editors.RodinEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
               <handler
            class="fr.systerel.editor.internal.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.UndoHandler"
            commandId="org.eclipse.ui.edit.undo">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.RedoHandler"
            commandId="org.eclipse.ui.edit.redo">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.inRodinEditor">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="fr.systerel.editor.internal.handlers.refactoring.ShowCustomizePreferences"
            commandId="fr.systerel.editor.rename.customizePrefixes">
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoActionLabelRenaming"
            commandId="fr.systerel.editor.rename.action">
         <enabledWhen>
            <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoGuardLabelRenaming"
            commandId="fr.systerel.editor.rename.guard">
         <enabledWhen>
            <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoInvariantLabelRenaming"
            commandId="fr.systerel.editor.rename.invariant">
         <enabledWhen>
            <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.refactoring.AutoLabelRenamings$AutoAxiomLabelRenaming"
            commandId="fr.systerel.editor.rename.axiom">
         <enabledWhen>
            <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.systerel.editor.editionCategory"
            name="Model Edition Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addChild"
            name="Add Child Command">
         <commandParameter
               id="typeID"
               name="Element type ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addSibling"
            name="Add Sibling">
         <commandParameter
               id="typeID"
               name="Element type ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.addSameSibling"
            name="Add Same Sibling">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.abortEditionFreeSelection"
            name="Cancel edition / Free selection">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.traverseNext"
            name="Traverse to the next editable interval">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.traversePrevious"
            name="Traverse to the previous editable interval">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.showAddChild"
            name="Show Add Child Menu">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            id="fr.systerel.editor.showAddSibling"
            name="Show Add Sibling Menu">
      </command>
      </extension>
      <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.systerel.editor.renamingCommandsCategory"
            name="Renaming Commands">
      </category>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.customizePrefixes"
            name="Customize prefixes...">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.axiom"
            name="Automatic Axiom Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.guard"
            name="Automatic Guard Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.invariant"
            name="Automatic Invariant Labelling">
      </command>
      <command
            categoryId="fr.systerel.editor.renamingCommandsCategory"
            id="fr.systerel.editor.rename.action"
            name="Automatic Action Labelling">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new variable wizard"
            id="fr.systerel.editor.openNewVariableWizard"
            name="New variable wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new variant wizard"
            id="fr.systerel.editor.openNewVariantWizard"
            name="New variant wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new invariant wizard"
            id="fr.systerel.editor.openNewInvariantWizard"
            name="New invariant wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new event wizard"
            id="fr.systerel.editor.openNewEventWizard"
            name="New event wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new carrier set wizard"
            id="fr.systerel.editor.openNewCarrierSetWizard"
            name="New carrier set wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new enumerated set wizard"
            id="fr.systerel.editor.openNewEnumeratedSetWizard"
            name="New enumerated set wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new axiom wizard"
            id="fr.systerel.editor.openNewAxiomWizard"
            name="New axiom wizard">
      </command>
      <command
            categoryId="fr.systerel.editor.editionCategory"
            description="Open the new constant wizard"
            id="fr.systerel.editor.openNewConstantWizard"
            name="New constant wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewVariableWizardHandler"
            commandId="fr.systerel.editor.openNewVariableWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewVariantWizardHandler"
            commandId="fr.systerel.editor.openNewVariantWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewInvariantWizardHandler"
            commandId="fr.systerel.editor.openNewInvariantWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewEventWizardHandler"
            commandId="fr.systerel.editor.openNewEventWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewCarrierSetWizardHandler"
            commandId="fr.systerel.editor.openNewCarrierSetWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewEnumeratedSetWizardHandler"
            commandId="fr.systerel.editor.openNewEnumeratedSetWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewAxiomWizardHandler"
            commandId="fr.systerel.editor.openNewAxiomWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.dialogs.handlers.WizardHandlers$NewConstantWizardHandler"
            commandId="fr.systerel.editor.openNewConstantWizard">
         <enabledWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.editor.editors.RodinEditor?before=additions">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <dynamic
               class="fr.systerel.editor.internal.handlers.DynamicAddChildContributionItem"
               id="fr.systerel.editor.addChildPossibilities">
         </dynamic>
         <dynamic
               class="fr.systerel.editor.internal.handlers.DynamicAddSiblingContributionItem"
               id="fr.systerel.editor.addSiblingPossibilities">
         </dynamic>
         <separator
               name="fr.systerel.editor.RefreshSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="fr.systerel.editor.CreationSeparator"
               visible="true">
         </separator>
         <separator
               name="fr.systerel.editor.MovementSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineUp"
               label="Move Up"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.text.moveLineDown"
               label="Move Down"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Rename">
            <command
                  commandId="fr.systerel.editor.rename.action"
                  label="Automatic Action Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableMachine">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.guard"
                  label="Automatic Guard Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableMachine">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.invariant"
                  label="Automatic Invariant Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableMachine">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.rename.axiom"
                  label="Automatic Axiom Labelling"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableContext">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="fr.systerel.editor.renameMenuSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="fr.systerel.editor.rename.customizePrefixes"
                  label="Customize prefixes..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                     <reference
                           definitionId="fr.systerel.editor.definition.inRodinEditor">
                     </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="fr.systerel.editor.editorNewElementWizards"
               label="New element wizard toolbar">
            <command
                  commandId="fr.systerel.editor.openNewVariableWizard"
                  icon="icons/full/ctool16/newvar_edit.gif"
                  label="Variable wizard"
                  style="push"
                  tooltip="Open the new variable wizard">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableMachine">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewVariantWizard"
                  icon="icons/full/ctool16/newvariant_edit.gif"
                  label="Variant wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableMachine">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewInvariantWizard"
                  icon="icons/full/ctool16/newinv_edit.gif"
                  label="Invariant wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableMachine">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewEnumeratedSetWizard"
                  icon="icons/full/ctool16/newenuset_edit.gif"
                  label="Enumerated Set wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableContext">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewAxiomWizard"
                  icon="icons/full/ctool16/newaxm_edit.gif"
                  label="Axiom wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableContext">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewEventWizard"
                  icon="icons/full/ctool16/newevt_edit.gif"
                  label="Event wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableMachine">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewCarrierSetWizard"
                  icon="icons/full/ctool16/newset_edit.gif"
                  label="Carrier Set wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableContext">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.systerel.editor.openNewConstantWizard"
                  icon="icons/full/ctool16/newcst_edit.gif"
                  label="Constant wizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="fr.systerel.editor.definition.isEditableContext">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="fr.systerel.editor.editorBasicCommands"
               label="Rodin Editor Basic Commands">
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="fr.systerel.editor.toggleImplicit"
                  icon="icons/toggleImplicit.png"
                  label="Show/Hide inherited elements"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.systerel.editor.showAddSibling"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+T">
      </key>
      <key
            commandId="fr.systerel.editor.showAddChild"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+G">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.select.lineUp"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_UP">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.select.lineDown"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_DOWN">
      </key>
      <key
            commandId="fr.systerel.editor.abortEditionFreeSelection"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
      <key
            commandId="fr.systerel.editor.traverseNext"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="TAB">
      </key>
      <key
            commandId="fr.systerel.editor.traversePrevious"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+TAB">
      </key>
      <key
            commandId="fr.systerel.editor.addSameSibling"
            contextId="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+I">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="A default rodin editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorDefaultScope"
            name="Default Rodin Editor Context">
      </context>
      <context
            description="A machine editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorMachineScope"
            name="Machine Rodin Editor Scope (Editor Context)">
      </context>
      <context
            description="A context editor context to be used in xml"
            id="fr.systerel.editor.contexts.rodinEditorContextScope"
            name="Context Rodin Editor Scope (Editor Context)">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="fr.systerel.editor.definition.inRodinEditor">
         <with
               variable="activeFocusControlId">
               <equals
                     value="fr.systerel.editor.editors.RodinEditor">
               </equals>
         </with>
      </definition>
      <definition
            id="fr.systerel.editor.definition.RodinEditorDefaultScope">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="fr.systerel.editor.contexts.rodinEditorDefaultScope">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="fr.systerel.editor.definition.editableStructuralMode">
         <and>
            <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
            </reference>
            <with
                  variable="fr.systerel.editor.sourceprovider.editionMode">
                  <equals
                      value="structural">
                  </equals>
            </with>
         </and>
      </definition>
      <definition
            id="fr.systerel.editor.definition.editableOverlayMode">
         <and>
            <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
            </reference>
            <with
                  variable="fr.systerel.editor.sourceprovider.editionMode">
               <equals
                     value="overlay">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="fr.systerel.editor.definition.isEditableMachine">
            <and>
                <with
                     variable="activeContexts">
                     <iterate
                          operator="or">
                          <equals
                              value="fr.systerel.editor.contexts.rodinEditorMachineScope">
                         </equals>
                     </iterate>
                </with>
                <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
                </reference>
            </and>
      </definition>
      <definition
            id="fr.systerel.editor.definition.isEditableContext">
            <and>
                <with
                     variable="activeContexts">
                     <iterate
                          operator="or">
                          <equals
                              value="fr.systerel.editor.contexts.rodinEditorContextScope">
                         </equals>
                     </iterate>
                </with>
                <reference
                  definitionId="org.eventb.ui.definition.activeEditorInputEditable">
                </reference>
            </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="fr.systerel.editor.internal.sourceprovider.EditionModeProvider">
            <variable
                  name="fr.systerel.editor.sourceprovider.editionMode" priorityLevel="activeEditorId">
            </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.systerel.editor.toggleImplicit"
            name="Show/Hide implicit elements">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.systerel.editor.internal.handlers.ToggleImplicitHandler"
            commandId="fr.systerel.editor.toggleImplicit">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableStructuralMode">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="fr.systerel.editor.internal.handlers.SymbolInsertionHandler"
            commandId="org.eventb.ui.edit.insert">
         <activeWhen>
            <reference
                  definitionId="fr.systerel.editor.definition.editableOverlayMode">
            </reference>
         </activeWhen>
      </handler>
   </extension>
  <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eventb.ui.preferences.modellingUI"
            class="fr.systerel.editor.internal.preferences.RodinEditorPreferencePage"
            id="fr.systerel.editor.preferences.rodinEditor"
            name="%preferencePage.rodinEditor.name">
      </page>
  </extension>
  <extension
        point="org.eclipse.ui.themes">
     <colorDefinition
           categoryId="org.rodinp.keyboard.ui.presentation"
           id="fr.systerel.editor.colorDefinition.label.foreground"
           isEditable="true"
           label="Label color [Rodin editor]"
           value="100,100,255">
        <description>
           Color for labels such as guard names, invariant names, etc. in the Rodin Editor.
        </description>
     </colorDefinition>
     <colorDefinition
           categoryId="org.rodinp.keyboard.ui.presentation"
           id="fr.systerel.editor.colorDefinition.handle.foreground"
           isEditable="true"
           label="Handle color [Rodin editor]"
           value="110,110,120">
        <description>
           Color for visual handles which appear at the left side of elements in the Rodin Editor.
        </description>
     </colorDefinition>
     <colorDefinition
           categoryId="org.rodinp.keyboard.ui.presentation"
           id="fr.systerel.editor.colorDefinition.identifier.foreground"
           isEditable="true"
           label="Identifier color [Rodin editor]"
           value="40,40,40">
        <description>
           Color for identifiers such as variables, event parameters, etc. in the Rodin Editor
        </description>
     </colorDefinition>
     <colorDefinition
           categoryId="org.rodinp.keyboard.ui.presentation"
           id="fr.systerel.editor.colorDefinition.attribute.foreground"
           isEditable="true"
           label="Attribute color [Rodin editor]"
           value="80,80,100">
        <description>
           Color for element attributes in the Rodin Editor.
        </description>
     </colorDefinition>
     <colorDefinition
           categoryId="org.rodinp.keyboard.ui.presentation"
           id="fr.systerel.editor.colorDefinition.comment_header.foreground"
           isEditable="true"
           label="Comment header color [Rodin editor]"
           value="103,187,155">
        <description>
           Color for labels such as guard names, invariant names, etc.
        </description>
     </colorDefinition>
     <colorDefinition
           categoryId="org.rodinp.keyboard.ui.presentation"
           id="fr.systerel.editor.colorDefinition.keyword.foreground"
           isEditable="true"
           label="Keyword Color [Rodin editor]"
           value="130,0,100">
        <description>
           Color for Event-B keywords such as &quot;WHERE&quot;, &quot;THEN&quot;, etc. in the Rodin Editor.
        </description>
     </colorDefinition>
     <colorDefinition
           categoryId="org.rodinp.keyboard.ui.presentation"
           id="fr.systerel.editor.colorDefinition.section.foreground"
           isEditable="true"
           label="Section Color [Rodin editor]"
           value="0,50,70">
        <description>
           Color for Event-B sections such as &quot;INVARIANTS&quot;, &quot;VARIABLES&quot;, etc. in the Rodin Editor.
        </description>
     </colorDefinition>
  </extension>
</plugin>
